*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family:"etsy1";
    src: url(assets/font/Guardian-EgypTT-Light.woff2);
}
@font-face{
    font-family: "etsy2";
    src: url(assets/font/Graphik-Regular-Web.woff2)
}
@font-face{
    font-family: "etsy3";
    src: url(assets/font/Graphik-Medium-Web.woff2);
}
body{
    color: #222;
    font-size: 14px;
    line-height: 1.4;
}
.nav_header{
    display: flex;
    padding: 6px 0px 0px 12px;
}
.nav_name{
    padding: 12px 0px 6px 0px;
    transform: translate(-3px, -4px);
}
.nav_search_button{
    display: flex;
    flex-direction: row;
    border: 2px solid #222222;
    height: 40px;
    border-radius: 32px;
    background-color: rgb(243, 243, 243);
    width: 165px;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav_search{
    padding: 9px 0px 9px 12px;
    font-size: 15.75px;
    font-family: 'etsy2';
    transform: translate(.075px, -1px);
    color: grey;
}

.nav_user svg{
    transform: translate(-26px, 9px);
    margin-left: 35px;
}
.search_icon{
    padding: 0px 9px 0px 0px;
    transform: translate(-1px, 4px);
}
.nav_basket{
    transform: translate(-10px, 9px);
}
/* --------body(section)------- */

.section_head{
    padding: 19px 12px 0px;
    font-size: 20px;
    font-family: 'etsy1';
    text-align: center;
    letter-spacing: 0.35px;
    line-height: 32px;
    background-color: #dfe6f5;
    margin-top: -5px;
}
.section_card_img img{
    width: 100%;
    border-radius: 100px;
}
.section_card_img{
    width: 83.5%;
    height: 26.75vw;
    padding: 12px 0px 4px 6px;
    margin: 10px 0px 1px;
}
.section_card_name{
    font-size: 13px;
    font-family: 'etsy3';
    text-align: center;
    transform: translate(-2.5px, 2px);
}
.section_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px 6px 0px;
    z-index: 1;
    transform: translate(2.5px, -10px);
}
.section_card_background{
    background-color: #dfe6f5;
    height: 50%;
    position:absolute;
    /* width: 100vw; */
}
.section_card:nth-child(4){
    margin-top: 1px;
}
.section_card:nth-child(5){
    margin-top: 1px;
}
.section_card:nth-child(6){
    margin-top: 1px;
}

/* ---------------------------------768--------------------------------------*/
@media screen and (min-width: 768px){
    
    .nav_header{
        padding: 7px 0px 0px 12px;
    }
    .nav_name svg{
        width: 80px;
        height: 40px;
    }
    .nav_name{
        padding: 10px 6px 6px 0px;
        transform: translate(-3px, -4px);
    }
}



@media screen and (min-width: 900px){
.nav_header{
    padding: 12px 36px;
}
}

@media screen and (min-width: 1400px){
    .nav_header{
        box-shadow: 0px 4px 20px rgb(34 34 34 / 15%);
        border-bottom: none;
        background-color: #ffff;
        margin-inline: auto;
        max-width: 1200px;
    }
}
.section{
    background
}