body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1f;
    margin: 0 ;
    font-family: SegoeUI;
}
@font-face{
    font-family: SegoeUI;
    src: url(img/font/SegoeUI-Roman-VF_web.woff2);
}
.topbar{
    display: flex;
    justify-items: left;
    align-items: left;
}
.topbar .menu svg{
    padding: 8px;
    padding-top: 17px;
    margin-left: -13px;
    
}
.topmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.microimg{
    width: 100px;
    display: flex;
}

.topbar h6 a{
    font-size: 18px;
    line-height: 44px;
    text-decoration: none;
}
.topbar .micro svg{
    padding-top: 27px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 31px;
}
.topbar img{
    width: 17px;
    height: 19px;
    transform: translateY(-3px);
    padding-left: 60px;
    padding-top: 35px
    /* transform: translateX(44px); */
}
a{
    color: black;
    text-decoration: none;
}
.signin{
    font-weight: 400;
    font-size: small;
    padding-left: 109px;
    padding-top: 19px;
}
.explore img{
    width: 8px
}
.explore{
    align-items: center;
    justify-content: center;
    /* padding-top: 0.5px;
    padding-bottom: 0.1px; */
    padding: 1px;
    background-color:  #1a7bc5;
    height: 66px;
    margin-top: -21px;
    
}

.explore h6{
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.main{
    background-image: url(img/ig.webp);
    background-size: cover;
    object-fit: fill;
    padding-top: 10px;
    margin-bottom: 72px;
    height: 650px;
}

.main1 h3{
    text-align: center;
    color: #50e6ff;
    padding-top: 40px;
    font-size: 20px;
}
.main2 h1{
    text-align: center;
    color: #f4f5f6;
    font-size: 54px;
    margin-top: -20px;
    line-height: 60px;
}
.main3 p{
    text-align: center;
    color: #f4f5f6;
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.3;
    margin-bottom: 50px;

}
.button1 input{ 
    justify-content: center;
    align-items:center;
    width: 85%;
    background-color: #0078d4;
    border: 10px solid #0078d4;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
}
.button1{
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    height: 40px;
    margin-bottom:20px;
    
}
.button2 input{
    border-color: #50e6ff;
    color: #50e6ff;
    background-color: transparent;
    border-radius: 4px;
    width: 85%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    transition-property: background-color;
    height: 43px;
}
.button2{
    height: 60px;
    padding-left: 43px;
    top: 0;
    margin-bottom: 10px;
}
.button{
    justify-content: space-between;
}
.content h3{
    text-align: center;
}
.content2{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px
}
.content2 img{
    width: 68px;
}
.content2 h3 a{
    color: #0062ad;
    padding-left: 10px;
}
.content2 h3 a:hover{
    cursor: pointer 2s;
    border: 2px solid rgb(27, 3, 134);
    text-decoration: underline;
    color: rgb(27, 3, 134);
}
.content3 img{
    width: 68px;
    height: 68px
}
.content3{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px;
}
.content3 h3 a{
    color: #0062ad;
    padding-left: 10px;
}
.content3 h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3,134);
    text-decoration: underline;
    color: rgb(27, 3, 134);
}
.content4 img{
    width: 68px;
}
.content4{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px;
}
.content4 h3 a{
    color: #0062ad;
    padding-left: 10px;
    text-align: center;
}
.content4 h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3, 134);
    text-decoration: underline;
    color: rgb(27, 3,134);
}
.content5 h6{
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}
.content6 button{
    background-color: transparent;
    display: inline-block;
    border: 1px solid #0078d4;
    border-radius: 4px;
    font-size: 14px;
    color: #0062ad;
    font-weight: 600px;
    padding: 10px 16px;
    width: 80%;
    margin-left: 40px;
    transition-property: background-color;
}
.content6 a button:hover{
    background-color:#0078d4;
    text-decoration: underline;
    color: white;
}
.content{
    margin-bottom: 130px;
}
.section1 h4{
    text-align: center;
    font-size: 18px;
}
.chat a{
    display: flex;
    background-color: #0078d4;
    position: fixed;
    bottom: 0;
    right: 12px;
    z-index: 1000;
    font-weight: 350px;
    border: 1px solid #0078d4;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 18px;
    width: 127px;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.chat a svg{
    padding: 13px;
    padding-right: 1px;
}
.section{
    background-color: #f8f9fa;
    padding-bottom: 50px
}
.section2 h6{
    font-size: 15px
}
.section2{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    justify-content: space-between;
    margin: 28px 20px;
    height: 8px;
    padding: 31px 25px 40px 3px;
    width: 83%;
}
.section2:hover{
    color: #0062ad;
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section2 h6:hover{
    text-decoration: none;
}
.section3b svg{
    width: 45px;
    height: 35px
}
.section3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section3a{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 24px;
    position: relative;
    border: 1px soild transparent;
    margin-left: 18px;
    width: 112px
}
.section3b{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 24px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 112px
}
.section3 h6{
    color: #0062ad;
    font-size: 12px;
}
.section3 p{
    color: #4c4c51;
    font-size: 14px;
}
.section3b p{
    margin-bottom: -20px
}
.section3 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section4a svg{
    width: 70px;
    height: 40px;
}
.section4a {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 24px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    width: 112px;
    margin-top: 20px;
}
.section4b{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 24px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 112px;
    margin-top: 20px;
}
.section4 h6{
    color: #0062ad;
    font-size: 12px;
}
.section4 p{
    color:#4c4c51;
    font-size: 14px;
}
.section4a p{
    margin-bottom: -24px;
}
.section4 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section5 svg{
    width:50px;
    height: 35px;
}
.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section5a{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 24px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    width: 112px;
    margin-top: 20px;
}
.section5b{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 24px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 112px;
    margin-top: 20px;
}
.section5 h6{
    color: #0062ad;
    font-size: 12px;
}
.section5 p{
    color: #4c4c51;
    font-size: 14px
}
.section5 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section6{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 14px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
    color: #1a1a1f;
}
.section6 h4{
    font-size: 15px;
}
.section6 p{
    position: relative;
    font-size: 29px;
}
.section6:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section7{
    display: flex;
    color: #1a1a1f;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    border-radius: 4px;
    justify-content: space-between;
    margin: 8px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
}
.section7 h4{
    font-size: 15px;
}
.section7 p{
    font-size: 29px;
}
.section7:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section8{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section8 h4{
    font-size: 15px;
}
.section8 p{
    position: relative;
    font-size: 29px;
}
.section8:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section9{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section9 h4{
    font-size: 15px;
}
.section9 p{
    font-size: 29px;
}
.section9:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section10{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 60px;
    color: #1a1a1f;
    padding: 26px 25x 30px 3px;
}
.section10 h4{
    font-size: 15px;
}
.section10 p{
    font-size: 29px;
    margin-right: 25px
}
.section10:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section11 h6{
    text-align: center;
    color:#0062ad;
    margin-top: 16%;
    font-size: 12px;
}
.section a h6:hover{
    text-decoration: underline;
    border: 2px solid #011727;
    color: #011727;
}
.section12 img{
    width: 100%;
    height: 100%;
    
}
.section12 {
    margin-right: 50px;
    border: 12px solid black;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}
.sect1{
    text-align: center;
    color: #1a1a1f;
    font-size: 18px;
    font-weight: bold;
    margin-top: 85px;
}
.sect2 img{
    align-items: center;
    justify-content: center;
    margin-left: 119px
}
.sect3 img{
    width: 375px;
    margin-bottom: -30px;
}
.sect4{
    text-align: left;
    font-size: 20px;
    padding: 25px;
    color: #242429;
    background-color: #f8fdfa;
    margin-bottom: -50px;
}
.sect5 h6{
    color: #0062ad;
    text-align: left;
    padding-left: 22px;
    font-size: 13px;
    background-color: #f8fdfa;
}
.sect5 a h6:hover{
    border: 1px solid #144870;
    text-decoration: underline;
}

.sect6{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-size: 20px;
    margin-top: -80px;

}
.sect6a h1{
    color: #0062ad;

}