*{
    margin: 0px;
    padding: 0px;
}
 body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1f;
    font-family: SegoeUI;
}
@font-face{
    font-family: SegoeUI;
    src: url(img/font/SegoeUI-Roman-VF_web.woff2);
}
.header{
    display: flex;
    height: 45.5px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}
.header0{
    display:none;
}
.header1{
    display: flex;

} 
.header1b{
    font-size: 18px;
    line-height: 44px;
    margin-top: 8px;
    font-size: 15px;
}
.header1a{
    margin: 20px 20px;
}
.header3{
    display: flex;
}
.header3 img{
    width: 15px;
    height: 15px;
    margin-right: 12px;
}
.header3 a{
    font-size: 13px;
}
a{
    color: #1a1a1f;;
    text-decoration: none;
}

.explore{
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color:  #1a7bc5;
    height: 66px;
    margin-top: -21px;
    
}

.explore h6{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

 .main{
    background-image: url(img/ig.webp);
    background-size: cover;
    object-fit: fill;
    padding-top: 10px;
    margin-bottom: 72px;
    width: 100%;
    height: 750px;
    text-align: center;
}

.main1 h3{
    text-align: center;
    color: #50e6ff;
    padding-top: 40px;
    font-size: 25px;
}
.main2 h1{
    text-align: center;
    color: #f4f5f6;
    font-size: 54px;
    line-height: 60px;
}
.main3 p{
    text-align: center;
    color: #f4f5f6;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.3;
    margin-bottom: 50px;
    margin-top: 20px;

}
.button1 input{ 
    justify-content: center;
    align-items:center;
    width: 85%;
    background-color: #0078d4;
    border: 10px solid #0078d4;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
}
.button1{
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    height: 40px;
    margin-bottom:20px;
    
}
.button2 input{
    border-color: #50e6ff;
    color: #50e6ff;
    background-color: transparent;
    border-radius: 4px;
    width: 85%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    transition-property: background-color;
    height: 43px;
}
.button2{
    height: 60px;
    padding-left: 43px;
    top: 0;
    margin-bottom: 10px;
}
.button{
    justify-content: space-between;
    margin-left: -35px;
}
.content1 h2{
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}
.content{
    text-align: center;
}
.content2{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px
}
.content2 img{
    width: 68px;
}
.content2 h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content2 h3 a:hover{
    cursor: pointer 2s;
    border: 2px solid rgb(27, 3, 134);
    text-decoration: underline;
    color: rgb(27, 3, 134);
}
.content3 img{
    width: 68px;
    height: 68px
}
.content3{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 50px;
}
.content3 h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content3 h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3,134);
    height: 35px;
}
.content4 img{
    width:68px;
    height: 68px;
}
.content4{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 50px;
}
.content4 h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content4 h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3, 134);
    height: 35px;
}
.content5 h6{
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 60px;
}
.content6 a button{
    background-color: transparent;
    border: 1px solid #007894;
    border-radius: 4px;
    color: #0062ad;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    width: 75%;

}
.chat a svg{
    padding: 13px;
    padding-right: 1px; 
}
.chat a{
    display: flex;
    position: fixed;
    z-index:1;
    bottom: 0;
    right: 12px;
    color: #fff;
    background-color: #0078d4;
    line-height: 40px;
    padding: 10px 18px;
    width: auto;
    height: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.section{
    background-color: #f8f9fa;
    padding-bottom: 50px;
}
.section1{
    font-size: 22px;
    text-align: center;
    margin: 100px 0 12px;
}

.section2 h6{
    font-size: 25px
}
.section2{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    justify-content: space-between;
    margin: 28px 20px;
    height: 8px;
    padding: 24px 22px 35px 3px;
    width: 83%;
}
.section2:hover{
    color: #0062ad;
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section2 h6:hover{
    text-decoration: none;
}
.section3b svg{
    width: 45px;
    height: 35px
}
.section3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.section3a{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 20px;
    position: relative;
    border: 1px soild transparent;
    margin-left: 18px;
    width: 95px;
    height: 240px;
}
.section3b{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 20px ;
    position: relative;
    border: 1px solid transparent;
    margin-right: 15px;
    width: 95px;
    height: 240px;
}
.section3a h6{
    margin-top: 45px;
}
.section3a svg{
    margin-top: 10px;
}
.section3b h6{
    margin-top: 45px;
}
.section3 h6{
    color: #0062ad;
    font-size: 13px;

}
.section3 p{
    color: #4c4c51;
    font-size: 14px;
}
.section3b p{
    margin-bottom: -20px
}
.section3 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section4a svg{
    width: 70px;
    height: 40px;
}
.section4a {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    height:240px;
    width: 95px;
    margin-top: 20px;
}
.section4a h6{
    margin-top: 40px;
}
.section4b{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 95px;
    height:240px;
    margin-top: 20px;
}
.section4b h6{
    margin-top: 40px;
}
.section4 h6{
    color: #0062ad;
    font-size: 13px;
}
.section4 p{
    color:#4c4c51;
    font-size: 14px;
}
.section4a p{
    margin-bottom: -24px;
}
.section4 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section5 svg{
    width:50px;
    height: 35px;
}
.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section5a{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    width: 95px;
    height: 240px;
    margin-top: 20px;
}
.section5a h6{
    margin-top: 20px;
}
.section5b{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 95px;
    height: 240px;
    margin-top: 20px
}
.section5b h6{
    margin-top: 50px;
}
.section5 h6{
    color: #0062ad;
    font-size: 13px;
}
.section5 p{
    color: #4c4c51;
    font-size: 14px
}
.section5 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section6{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 14px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
    color: #1a1a1f;
}
.section6 h4{
    font-size: 15px;
}
.section6 p{
    position: relative;
    font-size: 29px;
}
.section6:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section7{
    display: flex;
    color: #1a1a1f;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    border-radius: 4px;
    justify-content: space-between;
    margin: 8px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
}
.section7 h4{
    font-size: 15px;
}
.section7 p{
    font-size: 29px;
}
.section7:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section8{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section8 h4{
    font-size: 15px;
}
.section8 p{
    position: relative;
    font-size: 29px;
}
.section8:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section9{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section9 h4{
    font-size: 15px;
}
.section9 p{
    font-size: 29px;
}
.section9:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section10{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 60px;
    color: #1a1a1f;
    padding: 26px 25x 30px 3px;
}
.section10 h4{
    font-size: 15px;
}
.section10 p{
    font-size: 29px;
    margin-right: 25px
}
.section10:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section11 h6{
    text-align: center;
    color:#0062ad;
    margin-top: 16%;
    font-size: 12px;
}
.section a h6:hover{
    text-decoration: underline;
    border: 2px solid #011727;
    color: #011727;
}
.section12 img{
    width: 100%;
    height: 100%;
    
}
.section12 {
    margin-right: 50px;
    border: 12px solid black;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}
.sect1{
    text-align: center;
    color: #1a1a1f;
    font-size: 18px;
    font-weight: bold;
    margin-top: 85px;
}
.sect2 img{
    align-items: center;
    justify-content: center;
    margin-left: 100px
}
.sect3 img{
    width: 100%;
    margin-bottom: -30px;
}
.sect4{
    text-align: left;
    font-size: 20px;
    padding: 25px;
    color: #242429;
    background-color: #f8fdfa;
    margin-bottom: -50px;
}
.sect5 h6{
    color: #0062ad;
    text-align: left;
    padding-left: 22px;
    font-size: 13px;
    background-color: #f8fdfa;
    margin: 60px;
}
.sect5 a h6:hover{
    border: 1px solid #144870;
    text-decoration: underline;
}

.sect6{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-size: 20px;
    margin-top: -80px;

}
.sect6a h1{
    color: #0062ad;

} 
/*----------------------------------------------------------*/
@media screen and (min-width: 768px){
    .header{
        display: none;
    }
    .header0{
        display: flex;
        justify-content: space-around;
    }
    .header01a{
        padding: 20px;
    }
    .header01{
        display: flex;
    }
    .header01 p{
        font-size: 13px;
        padding: 10px;
    }
    .header02a img{
        width: 10px;
        height: 12px;
        padding: 26px;
    }
    .header02 {
        display: flex;
        margin-left: 50px
    }
    .header02c{
        font-size: 13px;
        padding: 15px;
    }
    .header02b{
        margin-top: -10px;
    }
}
/*--------------------------------------------------------------------*/
@media screen and (min-width: 1080px){
     .header{
        display: none; 
    } 
    .header02{
        display: none;
    }
    .header03 img{
        width: 12px;
        height: 12px;
        padding-top: 18px;
    }
    .header03 {
        display: flex;
        gap: 20px;
    }
    .header03 p{
        font-size: 12px;
    }
