body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    margin: 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.topbar{
    display: flex;
    justify-items: left;
    align-items: left;
}
.topbar .menu svg{
    padding: 8px;
    padding-top: 17px;
    
}
.topmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
}
.microimg{
    width: 100px;
    display: flex;
}

.topbar h7 a{
    color: black;
    font-size: 18px;
    line-height: 44px;
    text-decoration: none;
}
.topbar .micro svg{
    padding-top: 27px;
    padding-right: 30px;
    padding-left: 30px;
}
.topbar img{
    width: 17px;
    height: 19px;
    transform: translateY(-3px);
    padding-left: 60px;
    padding-top: 35px
    /* transform: translateX(44px); */
}
a{
    color: black;
    text-decoration: none;
}
.signin{
    font-weight: 400;
    font-size: small;
    padding-left: 70px;
    padding-top: 19px;
}
.explore img{
    width: 8px
}
.explore{
    align-items: center;
    justify-content: center;
    /* padding-top: 0.5px;
    padding-bottom: 0.1px; */
    padding: 1px;
    background-color:  #0062ad;
    height: 80px;
    margin: -px
    
}

.explore h6{
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.main{
    background-image: url(img/ig.webp);
    background-size: 3800px;
    object-fit: fill;
    padding-top: 10px;
}
/* .main img{
    width:380px;
    height: 100%;
    object-fit: cover;
    box-sizing: inherit;
} */
.main1 h3{
    text-align: center;
    color: #50e6ff;
    padding-top: 40px;
}
.main2 h1{
    text-align: center;
    color: #f4f5f6;
    font-size: 54px;
}
.main3 p{
    text-align: center;
    color: #f4f5f6;
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.3;

}
.button1 input{ 
    justify-content: center;
    align-items:center;
    width: 85%;
    background-color: #0078d4;
    border: 10px solid #0078d4;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}
.button1{
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    height: 40px;
    margin-bottom:20px;
    
}
.button2 input{
    border-color: #50e6ff;
    color: #50e6ff;
    background-color: transparent;
    border-radius: 4px;
    width: 85%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    transition-property: background-color;
    height: 36px;
}
.button2{
    height: 60px;
    padding-left: 43px;
    top: 0;
}
.button{
    justify-content: space-between;
}
.content h3{
    text-align: center;
}
.content2{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 12px 16px rgb(0 0 0 /14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px
}
.content2 img{
    width: 68px;
    align-items: center;
}
.content2 h3{
    color: #0062ad;
    padding-left: 10px;
}
.content2 h3 a:hover{
    cursor: pointer 2s;
    border: 2px solid rgb(27, 3, 134);
    text-decoration: underline;
}