*{
    margin: 0px;
    padding: 0px;
}
 body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1f;
    font-family: SegoeUI;
}
@font-face{
    font-family: SegoeUI;
    src: url(img/font/SegoeUI-Roman-VF_web.woff2);
}
.nav-header{
    display: flex;
    height: 45.5px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}
.header0{
    display:none;
}
.nav-bar{
    display: flex;
    margin-left: -45px;
} 
.nav-azure{
    font-size: 18px;
    line-height: 44px;
    margin-top: 8px;
    font-size: 15px;
}
.nav-hamburger{
    margin: 20px 20px;
}
.nav-search{
    display: flex;
}
.nav-search img{
    width: 15px;
    height: 15px;
    margin-right: 12px;
}
.nav-search a{
    font-size: 13px;
}
a{
    color: #1a1a1f;;
    text-decoration: none;
}

.explore{
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color:  #1a7bc5;
    height: 66px;
    margin-top: -21px;
    
}

.explore h6{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.main{
    background-image: url(img/ig.webp);
    background-size: cover;
    object-fit: fill;
    padding-top: 10px;
    margin-bottom: 72px;
    width: 100%;
    height: 750px;
    text-align: center;
}

.main_a h3{
    text-align: center;
    color: #50e6ff;
    padding-top: 40px;
    font-size: 20px;
}
.main_b h1{
    text-align: center;
    color: #f4f5f6;
    font-size: 54px;
    line-height: 60px;
}
.main_c p{
    text-align: center;
    color: #f4f5f6;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.3;
    margin-bottom: 50px;
    margin-top: 20px;

}
.button_a input{ 
    justify-content: center;
    align-items:center;
    width: 85%;
    background-color: #0078d4;
    border: 10px solid #0078d4;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
}
.button_a{
    justify-content: center;
    align-items: center;
    padding-left: 43px;
    height: 40px;
    margin-bottom:20px;
    
}
.button_b input{
    border-color: #50e6ff;
    color: #50e6ff;
    background-color: transparent;
    border-radius: 4px;
    width: 85%;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    transition-property: background-color;
    height: 43px;
}
.button_b{
    height: 60px;
    padding-left: 43px;
    top: 0;
    margin-bottom: 10px;
}
.button{
    justify-content: space-between;
    margin-left: -35px;
}
.content-a h2{
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin: 15px;
}
.content_head{
    display: none;
}
.content{
    text-align: center;
}
.content-b{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 10px
}
.content-b img{
    width: 68px;
}
.content-b h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content-b h3 a:hover{
    cursor: pointer 2s;
    border: 2px solid rgb(27, 3, 134);
    text-decoration: underline;
    color: rgb(27, 3, 134);
}
.content-c img{
    width: 68px;
    height: 68px
}
.content-c{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 50px;
}
.content-c h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content-c h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3,134);
    height: 35px;
}
.content-d img{
    width:68px;
    height: 68px;
}
.content-d{
    display: flex;
    align-items: center;
    padding: 31px 25px 40px 3px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    color: #4c4c51;
    border: 1px solid transparent;
    margin: 28px 20px;
    height: 50px;
}
.content-d h3 a{
    color: #0062ad;
    padding-left: 10px;
    font-size: 20px;
}
.content-e h3 a:hover{
    cursor: pointer;
    border: 2px solid rgb(27, 3, 134);
    height: 35px;
}
.content-e h6{
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 60px;
}
.content-f a button{
    background-color: transparent;
    border: 1px solid #007894;
    border-radius: 4px;
    color: #0062ad;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    width: 75%;

}
.chat a svg{
    padding: 13px;
    padding-right: 1px; 
}
.chat a{
    display: flex;
    position: fixed;
    z-index:1;
    bottom: 0;
    right: 12px;
    color: #fff;
    background-color: #0078d4;
    line-height: 40px;
    padding: 10px 18px;
    width: auto;
    height: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.section{
    background-color: #f8f9fa;
    padding-bottom: 50px;
}
.section-intro{
    font-size: 22px;
    text-align: center;
    margin: 100px 0 12px;
}

.section-v1 h6{
    font-size: 25px
}
.section-v1{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    justify-content: space-between;
    margin: 28px 20px;
    height: 8px;
    padding: 24px 22px 35px 3px;
    width: 83%;
}
.section-v1:hover{
    color: #0062ad;
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section-v1 h6:hover{
    text-decoration: none;
}
.section-card-v2 svg{
    width: 45px;
    height: 35px
}
.section-card-h1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.section-card-v1{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 20px;
    position: relative;
    border: 1px soild transparent;
    margin-left: 18px;
    width: 95px;
    height: 240px;
}
.section-card-v2{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 20px ;
    position: relative;
    border: 1px solid transparent;
    margin-right: 15px;
    width: 95px;
    height: 240px;
}
.section-card-v1 h6{
    margin-top: 45px;
}
.section-card-v1 svg{
    margin-top: 10px;
}
.section-card-v2 h6{
    margin-top: 45px;
}
.section-card-h1 h6{
    color: #0062ad;
    font-size: 13px;

}
.section-card-h1 p{
    color: #4c4c51;
    font-size: 14px;
}
.section-card-v2 p{
    margin-bottom: -20px
}
.section-card-h1 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section-card-h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-card-v3 svg{
    width: 70px;
    height: 40px;
}
.section4-card-v3 {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    height:240px;
    width: 95px;
    margin-top: 20px;
}
.section4-card-v3 h6{
    margin-top: 40px;
}
.section-card-v3{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    width: 95px;
    height:240px;
    margin-top: 20px; 
}
.section-card-v4{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 95px;
    height:240px;
    margin-top: 20px;
}
.section-card-v3 h6{
    margin-top: 40px;
}
.section-card-v4 h6{
    margin-top: 40px;
}
.section-card-h2 h6{
    color: #0062ad;
    font-size: 13px;
}
.section-card-h2 p{
    color:#4c4c51;
    font-size: 14px;
}
.section-card-v3 p{
    margin-bottom: -24px;
}
.sectionv a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section-card-h3 svg{
    width:50px;
    height: 35px;
}
.section-card-h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-card-v5{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-left: 18px;
    width: 95px;
    height: 240px;
    margin-top: 20px;
}
.section-card-v5 h6{
    margin-top: 20px;
}
.section-card-v6{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 19px;
    position: relative;
    border: 1px solid transparent;
    margin-right: 18px;
    width: 95px;
    height: 240px;
    margin-top: 20px
}
.section-card-v6 h6{
    margin-top: 50px;
}
.section-card-h3 h6{
    color: #0062ad;
    font-size: 13px;
}
.section-card-h3 p{
    color: #4c4c51;
    font-size: 14px
}
.section-card-h3 a h6:hover{
    text-decoration: underline;
    border: 2px solid #0062ad;
}
.section-card-h4{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 14px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
    color: #1a1a1f;
}
.section-card-h4 h4{
    font-size: 15px;
}
.section-card-h4 p{
    position: relative;
    font-size: 29px;
}
.section-card-h4:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section-card-h5{
    display: flex;
    color: #1a1a1f;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    border-radius: 4px;
    justify-content: space-between;
    margin: 8px 20px;
    height: 8px;
    padding: 26px 25px 30px 3px;
}
.section-card-h5 h4{
    font-size: 15px;
}
.section-card-h5 p{
    font-size: 29px;
}
.section-card-h5:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section-card-h6{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section-card-h6 h4{
    font-size: 15px;
}
.section-card-h6 p{
    position: relative;
    font-size: 29px;
}
.section-card-h6:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section-card-h7{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 8px;
    color: #1a1a1f;
    padding: 26px 25px 30px 3px;
}
.section-card-h7 h4{
    font-size: 15px;
}
.section-card-h7 p{
    font-size: 29px;
}
.section-card-h7:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section-card-h8{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
    justify-content: space-between;
    margin: 10px 20px;
    height: 60px;
    color: #1a1a1f;
    padding: 26px 25x 30px 3px;
}
.section-card-h8 h4{
    font-size: 15px;
}
.section-card-h8 p{
    font-size: 29px;
    margin-right: 25px
}
.section-card-h8:hover{
    border: 2px solid #0062ad;
    text-decoration: underline;
    color: #0062ad;
}
.section-card-h9 h6{
    text-align: center;
    color:#0062ad;
    margin-top: 16%;
    font-size: 12px;
}
.section a h6:hover{
    text-decoration: underline;
    border: 2px solid #011727;
    color: #011727;
}
.section-card-h10 img{
    width: 100%;
    height: 100%;
    
}
.section-card-h10 {
    margin-right: 50px;
    border: 12px solid black;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}
.container-innovation{
  text-align: center;
    color: #1a1a1f;
    font-size: 18px;
    font-weight: bold;
    margin-top: 85px;
}
.container-nhs img{
    align-items: center;
    justify-content: center;
    margin-left: 100px
}
.container-img img{
    width: 100%;
    margin-bottom: -30px;
}
.container-p{
    text-align: left;
    font-size: 20px;
    padding: 25px;
    color: #242429;
    background-color: #f8fdfa;
    margin-bottom: -50px;
}
.container-casestudy h6{
    color: #0062ad;
    text-align: left;
    padding-left: 22px;
    font-size: 13px;
    background-color: #f8fdfa;
    margin: 60px;
}
.container-casestudy a h6:hover{
    border: 1px solid #144870;
    text-decoration: underline;
}

.container-h{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-size: 20px;
    margin-top: -80px;

}
.container-h1 h1{
    color: #0062ad;

} 
.navtop{
    display: none;
} 
.content_micro{
    display: none;
}
.content_card-h3{
    display: none;
}
.azure-header{
    display: none;
}
.section-card-r1{
    display: none;
}

/*----------------------------------------------------------*/
@media screen and (min-width: 768px){
    .nav-header{
        display: none;
    }
    .navmenu{
        display: none;
    }
    .nav_class{
        display: none;
    }
    .section{
        display: none;
    }
    .navtop{
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        margin-top: 12px
    }
    .navtop{
        margin-left: 15px;
    }
    .navtop-hamburger{
        margin-left: 0;
    }
    .navtop-a{
        margin: 0 25px;
        font-size: 18px;
    }
    .navtop-b{
        margin: 0 10px;
    }
    .navtop-c{
        margin: 0 10px;
    }
    .navtop-d{
        margin: 0 10px;
    }
    .navtop-e{
        margin: 0 10px;
    }
    .navtop-f{
        margin: 0 10px;
    }
    .navtop-g{
        margin: 0 10px;
    }
    .navtop-bar{
        display: flex;
        margin-top: 10px;
    }
    .nvatop-icon p{
        font-size: 13px;
        padding: 10px;
    }
    .navbar-search img{
        width: 10px;
        height: 12px;
        padding: 15px;
    }
    .navbar {
        display: flex;
        margin-left: 20px
    }
    .navbar-signin{
        font-size: 12px;
        padding: 10px;
        margin-top: 3px;
        margin: 0 10px;
    }
    .navbar-h{
        margin-top: 5px;
        margin: 0 10px;
    }
    .explore{
        margin-top: 0;
        height: 46px;
    }
    .main_a h3{
        text-align: left;
        margin-left: 15px;
    }
    .main_b h1{
        text-align: left;
        margin-left: 15px;
        margin-right: 150px;
    }
    .main_c p{
        text-align: left;
        margin-left:15px;
        margin-right: 150px;
    }
    .button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
    }
    .button_a input{
        width: 120px;
    }
    .button_b input{
        width: 150px;
    }
    .main{
        height: 500px;
        background-size: cover;
     }
     .content{
        display: none;
     }
     .content_head{
        text-align: center;
     }
     .content_ignite{
        background-image: url(img/ignite.jpg);
        background-size: cover;
        width: 100vw;
        background-color: #fff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
     }
     .content_ignite h3{
        padding-top: 400px;
        color: #151469;
        font-size: 22px;
        position: relative;
        bottom: 110px;
        
    }
    .content_ignite p{
        font-size: 16px;
        color: #702573;
        margin-right: 100px;
        position: relative;
        bottom: 100px;
    }
    .content_card-v1{
        display: block;
    }
    .content_card-h h3{
        color: #0062ad
    }
    .content_card-h2{
        position: relative;
        top: 20px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px  5px rgb( 0 0 0 / 14%);
        border: 1px solid transparent;
        align-items: center;
        margin-right: 30px;
    }
    .content_card-h1{
        display: flex;
        gap: 40px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px  5px rgb( 0 0 0 / 14%);
        border: 1px solid transparent;
        align-items: center;
        margin-right: 30px;;
    }
    .content_card-h1-img img{
        width: 119px;
        height: 270px;
    }
    .content_card-h2{
        display: flex;
        gap: 40px;
    }
    .content_card-h2-img img{
        width: 119px;
        height: 270px;
    }
    .content_card-v3{
        display: block;
    }
    .content_micro{
        display: flex;
        gap: 40px;
        position: relative;
        top: 30px;
    }
    .content_ignite{
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgb( 0 0 0 / 14%);
        color: #4c4c51;
        border: 1px solid transparent;
        margin-left: 30px;
        height: 575px;
    }
    .content_card-h3{
        display: flex;
        position: relative;
        top: 100px;
        justify-content: center;
        gap: 20px;
        padding: 50px;
    }
    .content_card-h3 h6{
        font-size: 16px;
    }
    .content_card-h3 button{
        background-color: #fff;
        border: 1px solid #0062ad;
        height: 50px;
        width: auto;
        color: #0062ad;
        font-size: 12px;
    }
    .azure-header{
        display: flex;
        
    }
    .azure-title{
        display: flex;
        gap: 20px;
    }
    .azure-button{
        display: flex;
    }
    .azure-icon{
        margin-left: 30px;
    }
    .azure-account{
        border-radius: 4px;
        background-color: #89c402;
        margin: 0px 6px;
        height: 25px;
        position: fixed;
        right: 100px;
    }
    .azure-contact{
        border-radius: 4px;
        background-color: #f1f1f8;
        margin: 0px 6px;
        height: 25px;
        border: 1px solid #4c4c51;
        position: fixed;
        right:200px
    }
    .azure-header{
        transform: translateY(0);
        opacity: 100%;
        z-index: 999;
        box-shadow: 0 0 8px -1px rgb(0 0 0 /25%);
        position: fixed;
        transition: none 180ms ease-in 10ms;
        transition-property: transform, z-index;
        background-color: #fff;
        top:0;
        width: 100%;
        padding: 20px;
    }

}
/*--------------------------------------------------------------------*/
@media screen and (min-width: 1080px){
     .header{
        display: none; 
    } 
    .navbar{
        display: none;
    }
    .navmenu img{
        width: 12px;
        height: 12px;
    }
    .navmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        border-radius: 4px;
        border-color: #747479;
        font-size: 13px;
        height:25px;
        box-sizing: border-box;
        border: 1px solid #747479;
        width: 10%;
        margin-top: 10px;;
    }
    .navmenu p{
        font-size: 12px;
    }
    .nav_class{
        display: flex;
        margin-top: 10px;
        font-size: 12px;
    }
    .nav_acc{
        border-radius: 4px;
        background-color: #89c402;
        margin: 0px 6px;
        height: 25px;
    }
    .nav{
        margin: 0 10px;
    }
    .nav_support{
        margin: 0 10px;
    }
    .nav_contact{
        margin: 0 10px;
    }
    .nav_signin{
        margin: 0 10px;
    }
    .nav_class a:hover{
        text-decoration: underline;
        border-color: #1a1a1f;
        box-sizing: border-box;
        border: 2px dotted #1a1a1f;
    }
    .explore{
        margin-top: 10px;
        align-items: center;
        height: 46px
    }
    .main_b h1{
        margin-right: 625px
    }
    .main_c p{
        margin-right: 675px;
    }
 }
 /* -------------------960----------------------------*/
 @media screen and (min-width: 960px){
    .main{
        background-image: url(img/ignite.webp);
        /* background-size: cover; */
        object-fit: fill;
        width: 100%;
        height: 702px;
        line-height: 2.5;
    }
    .main_b h1{
        margin-right: 525px;
    }

    .main_c p{
        margin-right: 525px;
        font-size: 18px;
    }
 }
