/Udemy/section-17/node_modules
/Udemy/section-17/package-lock.json
/Udemy/forkify/node_modules
/Udemy/forkify/package-lock.json
/Udemy/forkify/.parcel-cache
/Udemy/forkify/dist
/Udemy/forkify/node_modules
/Udemy/forkify/package.json
/Udemy/forkify/src