*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: GTZ;
    src: url(img/font/GTZirkon-Book.woff2);
}
body{
color: #000;
font-family: GTZ;
}
.nav-main a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 28px;
    
}
.nav-main {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 120px
}
.nav-mail a{
    color: #07691c;
}
.nav-blog a{
    color: #b5b5b5;
}
.nav-contact a{
    color: #b5b5b5;
}
.content{
    background-color: #ffe8dc;
    justify-content: flex-end;
    margin-left:50px;
    gap: 100px;
    padding-top: 100px

}
.recents{
    display: none;
}
.content_name p{
    font-size: 100.945px;
    padding-bottom: 50px;
    margin-left: -20px;
}
.content_img img{
    width: 700px;
    height: 900px;
    margin-left: 50px;
}
.content_role p{
    color: #07691c;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 50px;
    
}
.content_detail p{
    font-size: 20px;
    padding-top: 150px;
    margin-right: 40px;
    line-height: 1.5;
    margin-left: 50px;
}
.content_recent{
    line-height: 2.2;
    margin-left: 50px;
    margin-top: 130px;
}
.content_recent-head p{
    font-size: 18px;
}
.content_recent-sub p{
    font-size: 14.4px;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 150px
}
.footer_detail a{
    text-decoration: none;
    line-height: 2.5;
    color: #2b2b2b;
}
.footer_detail li{
    list-style-type: none;
}
.footer_detail p{
    font-size: 40px;
}
.footer_privacy p{
    font-size: 40px;
    color: #b5b5b5;
}
.footer_stack li{
    list-style-type: none;
    font-size: 40px;
    line-height: 2.5;

} 
.footer_copy p{
    color: #b5b5b5;
    font-size: 12px;
    margin-top: 20px;
}
.footer_copy a{
    color: #b5b5b5
}


.recents_head{
    display: none;
}




@media screen and (min-width:1024px){
    .nav-main{
        justify-content: center;
    }
    .nav-main a{
        font-size: 18px;
    }
    .content_name p{
        font-size: 54.932px;
        margin-left: -20px;
    }
    .content_img img{
        width: 275px;
        height: 400px
    }
    .content_user {
        display: flex;
    }
    .content_detail p{
        margin-top: -150px;
        margin-left: 350px;
        margin-right: 400px
    }
    .content_recent{
        display: none;
    }
    .recents {
        display: flex;
        margin-top: 40px;
        margin-left: 50px;
    }
    .recents_details{
        display: flex;
        gap: 50px;
    }
    .recents_details li{
        list-style: none;
        line-height: 2.5;
    }
    .recents_dates li{
        color: #07691c;
        font-size: 18px;
    }
    .recents_des li{
        font-size: 28.5px;
        line-height: 3;
    }
    .recents_head p{
        font-size: 18px;
        margin-left: 20px
    }   
    
    .content_role p{
        transform: rotate(90deg);
        margin-left: -50px;
        margin-top: 80px
    }
    .recents_head{
        margin-left: 50px;
        margin-top: 70px;
    }
    .footer{
        justify-content: left;
        margin-left: 90px;
    }
    .footer_detail p{
        font-size: 18px;

    }
    .footer_stack li{
        font-size: 18px;
    }
    .footer_copy{
        display: flex;
        margin-top: 50px;
        margin-left: 90px;
        gap: 300px
    
    }
    .footer_copy p{
        color: #b5b5b5;
    }
    .footer_copy a{
        color: #b5b5b5
    }
}
    




