* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'flipkart';
    src: url(assets/font/roboto-regular.woff2);
}
header {
    background-color: rgb(40, 116, 240);
    color: #fff;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'flipkart';
    justify-content: space-between;
    padding: 6px 12px 0px;
   
}

.nav_bar {
    display: flex;
    gap: 11px;
}

.nav_search_bar {
    display: flex;
    gap: 32px;
}

.nav_logo img {
    width: 100%
}

.nav_logo {
    width: 23px;
    height: 23px;
    transform: translateY(-2px);
}

.nav_page {
    transform: translate(1px, -1px);
    font-size: 16px;
    width: 21.563vw;
    white-space: nowrap;
    overflow: hidden;
}

.nav_login {
    width: 52.5px;
    color: #eaeaea;
}

.nav_cart {
    transform: translate(-7px, 2px);
}

.nav_search {
    transform: translate(2px, -1px);
}

.nav_sort_filter img {
    width: 24px;
    height: 24px;
}

.nav_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    background-color: #fff;
    position: sticky;
    z-index: 5;
    top: 0;

}

.nav_sort_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    width: 50%;
}

.nav_border {
    width: 1px;
    height: 48px;
    background-color: #ebebeb;
}

.nav_tokens {
    display: flex;
    padding: 0px 11px;
    overflow: scroll;
    height: 56px;
    background-color: #fff;
    position: relative;
    z-index: -1;
}

.nav_tokens::-webkit-scrollbar {
    display: none;
}

.nav_token {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 98.47px;
    white-space: nowrap;
    height: 36px;
    border: 1px solid rgb(219 219 219);
    border-radius: 4px;
    margin: 8px 4px 0px;
    padding: 2px 8px 0px 4px;
    color: #212121;
}

.nav_token:nth-child(2) {
    background-color: #f5f7fa;
    color: #747178;
    gap: 3.5px;
    padding: 2px 11px 0px 4px;
}

.nav_token:nth-child(3) {
    background-color: #f5f7fa;
    color: #747178;
    gap: 4.5px;
    padding: 2px 11px 0px 4px;

}

.nav_token:nth-child(4) {
    padding: 2px 8px 0px 4px;
}

.nav_token_detail p {
    font-size: 12px;
    font-family: 'flipkart';
    line-height: 17px;
}

.nav_token_img img {
    width: 32px;
    height: 32px;
    margin: 0px 4px 0px 0px;
}

.nav_token_img {
    transform: translateY(1px);
}

.nav_bottom_border {
    width: 100%;
    height: 2px;
    background-color: rgb(204, 202, 202);
    position: sticky;
    z-index: 5;
    top: 48px;
} 
.content_card{
    padding: 0px 5px;
    border-bottom: rgb(240, 240, 240, 1.00);
}
.content_img img {
    width: 96px;
    height: 114px;
    padding-top: 16px;
  
}

.content_section {
    padding: 12px 0px;
    display: flex;
}
.content_details{
    margin: 8px 0px 6px;
    padding: 0px 4px 0px 12px;
}
.content_name{
    font-size:  14px;
    font-family: 'flipkart';
    color: #212121;
    width: 160px;
}
.content_rating{
    margin: 8px 0px 6px;
    display: flex;
    align-items: center;
}
.rating{
    background-color: #008c00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    gap: 2px;
    width: 38.88px;
    height: 21px;
    font-size: 12px;
    border-radius: 4px;
}
.rating span{
    font-size: 11px;
}
.flipkart_logo img{
    width: 55.02px;
    height: 13px;
    margin-top: 1px;
    transform: translate(1px, 1px);
    font-family: auto;
    position: relative;
    z-index: -1;

}
.reviewers{
    font-size: 12px;
    font-family:'flipkart';
    color: #878787;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 2px;
}
.content_price{
    display: flex;
    align-items: center;
    gap: 7px;
}
.old_price{
    font-family: 'auto';
    font-size: 16px;
    color: #878787;
    text-decoration: line-through;
}
.price{
    font-size: 16px;
    font-family: 'auto';
}
.free_delivery{
    font-size: 12px;
    font-family: 'flipkart';
    margin: 4px 0px;
}
.bank_offer{
    color: #26a541;
    font-size: 12px;
    font-family: 'auto';
    margin: 6px 0px;
}
.wishlist img{
    width: 18px;
    height: 16px;
}
   
.wishlist{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -4px;
    margin-right: 4px;
    background-color: #fff;
    border-radius: 47%;
    box-shadow: 0px 1px 2px rgba(0 0 0 / 16%);
    padding: 9px 8px;
    height: 16px;
    width: 18px;
   
}
.special_about{
    color: #878787;
    font-size: 12px;
    font-family: 'auto';
}
.storage{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: -6px 0px 10px 5px;
    width: 140.33px;
    height: 22px;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_display{
    display: flex;
}
.display{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 5px;
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.battery{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 10px;
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera{
    display: flex;
}
.rear_camera, .front_camera{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 5px;  
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front_camera{
    margin: 0px 0px 0px 10px;
}
 hr{
    height: 1px;
    background-color: rgba(234,234,234,1.00);
    border: none;
    display: block;
    width: 100%;

}
.content_border{
    height: 2px;
}
.content_offer{
    background-color: #f0f0f0;
    padding: 8px 0px;
}

.content_time{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffff;
    padding: 16px;
}   
.time_img img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
.more_offer img{
    height:10px;
    width: 6px;
    transform: translate(-1px, 1px);
}
.content_deals{
    display: flex;
    align-items: center;
    height: 70px;
}
.time_deals{
    padding: 0px 20px 0px 18px;
}
.time_head{
    font-size: 16px;
    color: #212121;
    margin: 0px 0px 2px;
}
.offer{
    font-size: 12px;
    color: #878787;
    font-family: 'flipkart';
}
.offer_percent{
    font-size: 16px;
    color: #4bb550;
}
.flip_desktop{
    display: none;
}
@media screen and (min-width:768px) {
    .nav_token:nth-child(2) {
        padding: 2px 7px 0px 0px;
    }
    .nav_token:nth-child(2) .nav_token_img img{
        margin: 0px 4px 0px -1px;
    }

    .nav_token:nth-child(3) {
        padding: 2px 0px 0px 0px;
    }
    .nav_token:nth-child(3) .nav_token_img img{
        transform: translate(-4px, 0px);
    }
    .nav_token:nth-child(3) .nav_token_detail{
        transform: translateX(-5px);
    }
    .nav_token:nth-child(4) {
         margin: 8px 3px 0px;
    }
    .nav_token:nth-child(4) .nav_token_img img{
        transform: translate(-2px, 0px);
    }
    .nav_token:nth-child(4) .nav_token_detail{
        transform: translateX(-2.25px);
    }
} 

/* //////////////////////////// DESKTOP VIEW //////////// */
@media screen and (min-width: 911px){
    .flip_mobile{
        display: none;
    }
    .flip_desktop{
        display: block;
    }
    .nav_header{
      background-color: rgb(40, 116, 240);
      color: #fff;  
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .nav_flipkart_logo{
        margin-left: 62px;
        
    }
    .nav_border_desktop{
        min-width: 124px;
        background-color: rgb(40, 116, 240);
    }
    .nav_flipkart_img img{
        width: 75px;
        height: 20.11px;
    }
    .nav_explore_img img{
        width: 10px;
        height: 10px;
        margin-top: 1px
    }
    .nav_explore_plus{
        display: flex;
        align-items: center;
        margin-top: -9px;
        width: 75px;
        letter-spacing: 0.03ch;
        transform: translateY(1px);
    }
    .nav_explore_plus code{
        color: #ffe500;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11px;
        font-style: italic;
    }
    .nav_explore_plus p{
        font-style:italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11px;
        color: #f0f0f0;
    }
    .nav_explore_img{
        transform: translate(2px, -1px);
    }
    .search_bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 1px;
        height: 34px;
        font-size: 14px;
        font-family: 'flipkart';
        color: grey;
        overflow: hidden;
        width: 100%;
        min-width: 302px;
        max-width: 530px;
        transform: translateX(12px);
    }
    .search_products{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
    }
    .search_items p{
        padding: 0px 0px 0px 14px;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
    
    .search_icon svg{
       
        width: 20px;
        height: 20px;
        padding: 4.75px 12px 0px 8px;
    }
    .login{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 1px;
        color: rgb(40, 116, 240);
        font-family: 'flipkart';
        font-size: 15px;
        letter-spacing: 0.5px;
        height: 16px;
        padding: 4px 41px 6px 40px;
        margin:  0px 19px 1px;
        transform: translateX(13px);
    }
    .nav_seller{
        font-family:roboto,arial,sans-serif ;
        font-size: 16px;
    }
     .nav_seller p{
        width:134px;
        margin: 0px 0px 1px 29px;
        transform: translateX(4.5px);
    } 
    .nav_more p{
        font-family: roboto,arial, sans-serif;
        font-size: 16px;
        white-space: nowrap;
        margin: 0px 18px 2px 13px;
        transform: translateX(16px);
    }
    .nav_cart_desktop{
        display: flex;
        transform: translate(34px, 1px);
    }
    .nav_cart_desktop svg{
        margin: 0px 8px;
        width: 16px;
        height: 16px;
    }

     .nav_section{
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width:958px;
        padding: 0px 25px;
        margin-top: -2px;
        margin-inline: auto;
        max-width: 1248px;
        border-bottom:  1px solid rgb(204, 202, 202);
        box-shadow: 0px 2px 5px rgba(0 0 0 / 16%)
     }
     .nav_tabs span{
        display: flex;
        align-items: center;
        
        font-family: sans-serif;
        font-size: 14px;


     }
     .nav_tabs span p{
        margin: 0px 0px 6px;
        color: #d7d7d7;
        font-size: 18px;
        margin-left: 3px;
     }
     .container_cards{
        background-color: #f0f0f0;
        padding: 8px;
     }
     .section_side_card{
        width: 270px;
        height: 211.61px;
        background-color: #fff;
     }
     .section_card_img img{
        width: 270px;
        height: 145px;
        border-bottom: 1px solid #ebebeb;
     }
     .section_side_deals{
        font-size: 16px;
        font-family: Arial,sans-serif;
        color: #212121;
        padding: 14px 16px;
        margin: -4px 0px 0px;
     }
     .section_deal_mb{
        font-size: 12px;
        margin: 3px 0px 0px;
     }
     .section_side_choice{
        width: 270px;
        height: 500px;
        background-color: #fff;
        margin: 10px 0px 0px 0px;
        color: #212121; 
        font-family: Arial, sans-serif; 
     }
     .section_card_filter{
        padding: 18px 16px 14px;
        font-size: 18px;
        letter-spacing: 0.3px;
         border-bottom: 1px solid #ebebeb;
     }
     .section_categories{
        padding: 17px 16px 16px;
        border-bottom: 1px solid #ebebeb;
     }
     .category_head{
        font-size: 12px;
        margin: 0px 0px 5px;
     }
     .category_section{
        display: flex;
        color: #878787;
        font-size: 14px;
        align-items: center;
        padding: 7px 0px 8px ;
     }
     .category_section svg{
        margin: 0px 5px 0px 0px;
       }
       .category_selected{
        padding: 6px 0px 8px;
        font-size: 14px;
        margin: 0px 0px 0px 15px;
       }
       .section_price{
        padding: 17px 16px 16px 16px;
       }
       .section_price_head{
        font-size: 13px;
        letter-spacing: 0.3px;
        padding: 0px 0px 8px 0px;
       }
       .section_graph{
        display: flex;
        align-items: flex-end;
       }
       .first_graph{
        background-color: #e0e0e0;
        width: 142px;
        height: 20px;
       }
       .second_graph{
        background-color: #e0e0e0;
        width: 47px;
        height: 17px;
       }
       .third_graph{
        background-color: #e0e0e0;
        width: 48px;
        height: 20px;
       }
    }