* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'flipkart';
    src: url(assets/font/roboto-regular.woff2);
}
header {
    background-color: rgb(40, 116, 240);
    color: #fff;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'flipkart';
    justify-content: space-between;
    padding: 6px 12px 0px;
   
}

.nav_bar {
    display: flex;
    gap: 11px;
}

.nav_search_bar {
    display: flex;
    gap: 32px;
}

.nav_logo img {
    width: 100%
}

.nav_logo {
    width: 23px;
    height: 23px;
    transform: translateY(-2px);
}

.nav_page {
    transform: translate(1px, -1px);
    font-size: 16px;
    width: 21.563vw;
    white-space: nowrap;
    overflow: hidden;
}

.nav_login {
    width: 52.5px;
    color: #eaeaea;
}

.nav_cart {
    transform: translate(-7px, 2px);
}

.nav_search {
    transform: translate(2px, -1px);
}

.nav_sort_filter img {
    width: 24px;
    height: 24px;
}

.nav_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    background-color: #fff;
    position: sticky;
    z-index: 5;
    top: 0;

}

.nav_sort_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    width: 50%;
}

.nav_border {
    width: 1px;
    height: 48px;
    background-color: #ebebeb;
}

.nav_tokens {
    display: flex;
    padding: 0px 11px;
    overflow: scroll;
    height: 56px;
    background-color: #fff;
    position: relative;
    z-index: -1;
}

.nav_tokens::-webkit-scrollbar {
    display: none;
}

.nav_token {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 98.47px;
    white-space: nowrap;
    height: 36px;
    border: 1px solid rgb(219 219 219);
    border-radius: 4px;
    margin: 8px 4px 0px;
    padding: 2px 8px 0px 4px;
    color: #212121;
}

.nav_token:nth-child(2) {
    background-color: #f5f7fa;
    color: #747178;
    gap: 3.5px;
    padding: 2px 11px 0px 4px;
}

.nav_token:nth-child(3) {
    background-color: #f5f7fa;
    color: #747178;
    gap: 4.5px;
    padding: 2px 11px 0px 4px;

}

.nav_token:nth-child(4) {
    padding: 2px 8px 0px 4px;
}

.nav_token_detail p {
    font-size: 12px;
    font-family: 'flipkart';
    line-height: 17px;
}

.nav_token_img img {
    width: 32px;
    height: 32px;
    margin: 0px 4px 0px 0px;
}

.nav_token_img {
    transform: translateY(1px);
}

.nav_bottom_border {
    width: 100%;
    height: 2px;
    background-color: rgb(204, 202, 202);
    position: sticky;
    z-index: 5;
    top: 48px;
} 
.content_card{
    padding: 0px 5px;
    border-bottom: rgb(240, 240, 240, 1.00);
}
.content_img img {
    width: 96px;
    height: 114px;
    padding-top: 16px;
  
}

.content_section {
    padding: 12px 0px;
    display: flex;
}
.content_details{
    margin: 8px 0px 6px;
    padding: 0px 4px 0px 12px;
}
.content_name{
    font-size:  14px;
    font-family: 'flipkart';
    color: #212121;
    width: 160px;
}
.content_rating{
    margin: 8px 0px 6px;
    display: flex;
    align-items: center;
}
.rating{
    background-color: #008c00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    gap: 2px;
    width: 38.88px;
    height: 21px;
    font-size: 12px;
    border-radius: 4px;
}
.rating span{
    font-size: 11px;
}
.flipkart_logo img{
    width: 55.02px;
    height: 13px;
    margin-top: 1px;
    transform: translate(1px, 1px);
    font-family: auto;
    position: relative;
    z-index: -1;

}
.reviewers{
    font-size: 12px;
    font-family:'flipkart';
    color: #878787;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 2px;
}
.content_price{
    display: flex;
    align-items: center;
    gap: 7px;
}
.old_price{
    font-family: 'auto';
    font-size: 16px;
    color: #878787;
    text-decoration: line-through;
}
.price{
    font-size: 16px;
    font-family: 'auto';
}
.free_delivery{
    font-size: 12px;
    font-family: 'flipkart';
    margin: 4px 0px;
}
.bank_offer{
    color: #26a541;
    font-size: 12px;
    font-family: 'auto';
    margin: 6px 0px;
}
.wishlist img{
    width: 18px;
    height: 16px;
}
   
.wishlist{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -4px;
    margin-right: 4px;
    background-color: #fff;
    border-radius: 47%;
    box-shadow: 0px 1px 2px rgba(0 0 0 / 16%);
    padding: 9px 8px;
    height: 16px;
    width: 18px;
   
}
.special_about{
    color: #878787;
    font-size: 12px;
    font-family: 'auto';
}
.storage{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: -6px 0px 10px 5px;
    width: 140.33px;
    height: 22px;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_display{
    display: flex;
}
.display{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 5px;
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.battery{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 10px;
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera{
    display: flex;
}
.rear_camera, .front_camera{
    border: 1px solid rgb(240, 240, 240, 1.00);
    margin: 0px 0px 10px 5px;  
    height: 22px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front_camera{
    margin: 0px 0px 0px 10px;
}
 hr{
    height: 1px;
    background-color: rgba(234,234,234,1.00);
    border: none;
    display: block;
    width: 100%;

}
.content_border{
    height: 2px;
}
.content_offer{
    background-color: #f0f0f0;
    padding: 8px 0px;
}

.content_time{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffff;
    padding: 16px;
}   
.time_img img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
.more_offer img{
    height:10px;
    width: 6px;
    transform: translate(-1px, 1px);
}
.content_deals{
    display: flex;
    align-items: center;
    height: 70px;
}
.time_deals{
    padding: 0px 20px 0px 18px;
}
.time_head{
    font-size: 16px;
    color: #212121;
    margin: 0px 0px 2px;
}
.offer{
    font-size: 12px;
    color: #878787;
    font-family: 'flipkart';
}
.offer_percent{
    font-size: 16px;
    color: #4bb550;
}
.flip_desktop{
    display: none;
}
@media screen and (min-width:768px) {
    .nav_token:nth-child(2) {
        padding: 2px 7px 0px 0px;
    }
    .nav_token:nth-child(2) .nav_token_img img{
        margin: 0px 4px 0px -1px;
    }

    .nav_token:nth-child(3) {
        padding: 2px 0px 0px 0px;
    }
    .nav_token:nth-child(3) .nav_token_img img{
        transform: translate(-4px, 0px);
    }
    .nav_token:nth-child(3) .nav_token_detail{
        transform: translateX(-5px);
    }
    .nav_token:nth-child(4) {
         margin: 8px 3px 0px;
    }
    .nav_token:nth-child(4) .nav_token_img img{
        transform: translate(-2px, 0px);
    }
    .nav_token:nth-child(4) .nav_token_detail{
        transform: translateX(-2.25px);
    }
} 

/* //////////////////////////// DESKTOP VIEW //////////// */
@media screen and (min-width: 911px){
    .flip_mobile{
        display: none;
    }
    .flip_desktop{
        display: flex;
    }
    .nav_header{
      background-color: rgb(40, 116, 240);
      color: #fff;  
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
    }
    .nav_flipkart_logo{
        margin-left: 173px;
    }
    .nav_flipkart_img img{
        width: 70px;
        height: 19px;
    }
    .nav_explore_img img{
        width: 9px;
        height: 9px;
        margin-top: 1px
    }
    .nav_explore_plus{
        display: flex;
        align-items: center;
        margin-top: -9px;
        width: 75px;
        letter-spacing: 0.004ch;
        transform: translateY(1px);
    }
    .nav_explore_plus code{
        color: #ffe500;
        font-weight: 500;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
        font-style: italic;
    }
    .nav_explore_plus p{
        font-style:italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
        color: #f0f0f0;
    }
    .nav_explore_img{
        transform: translate(2px, -1px);
    }
    .search_bar{
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 2px;
        margin: 0px 0px 0px 6px;
        height: 32px;
        font-size: 13px;
        font-family: 'flipkart';
        color: grey;
    }
    .search_products{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search_items{
        padding: 0px 16px 0px 14px;
    }
    .search_icon svg{
        width: 17.7px;
        height: 19px;
        padding: 4.75px 12px 0px 8px;
    }
    .login{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 2px;
        color: rgb(40, 116, 240);
        font-family: 'flipkart';
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        height: 17px;
        padding: 6px 38px 4px 37px;
        margin:  0px 18px 1px;
    }
    .nav_seller{
        font-family: 'flipkart';
        font-weight: 800px;
        font-size: 14px;
    }
}