*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  rgb(232, 232, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px;
}
h1{
    font-size: 35px;
    margin-bottom: 25px;
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
p{
    margin-bottom: 20px;
}
.first{
    color: red;
}
#your-name{
    background-color: rgba(222, 222, 45, 0.867);
    border: 5px solid rgba(10, 10, 10, 0.267);
    width: 400px;
    padding: 25px;
    margin-top: 50px;
}
input, button{
    padding: 10px;
    font-size: 16px;
}
a{
    background-color: yellowgreen;
}
#your-name h2{
    color: olivedrab;
}
#course-image{
    width: 300px;
    height: 300px;
}




