.section{
    display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 100px 1fr 1fr;
   grid-gap: 10px;
   width: 960px;
   margin : 0 auto;
   background: lavender;
   height: 500px;
   color: black;
   /* margin-top: 100px; */
}
.header{

    grid-column: span 12  ;
    grid-row: 1/2;
    background: pink;
}
.main-content{
    grid-row-start: 2;
    grid-column: 3 span 5;
    background: gray;
}
.sidebar{
    grid-row-start: 2;
    grid-column: 3 /span 5;
    background: violet;
}
.left, .right{
    grid-column-start: 3;
    grid-column: span 4;
    background: greenyellow;
}
.left{
    grid-column: 3 / span 4;
}

/*           EXPLORING CSS GRID          */
 

.explore-grid{
    margin: 100px 0px;
    font-family: sans-serif;
    font-size: 1.125rem;
    color: gray;
    background:url(/img/bg.webp);
    background-size: cover;
    width: 150%;
}
h1, h2, h3, p{
    margin:0;
}
h1{
    font-size: 9rem;
    font-weight: black;
    color: white;
    text-shadow: 10px 10px 15px rgb(0 0 0 0.05); 
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    color: gray;
    letter-spacing: 10px;
}
.explore-b, .explore-a, .explore-c{
    border: 12px solid white;
    text-align: center;
    background: rgb(1, 1, 47);
    grid-row-start: 2;
}
h3 {
    font-size: 1rem;
    color: gray;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-rows: auto 1fr 1fr 3fr 1fr 1fr;
    width: 88%;
    margin: 0 auto;
}
.explore-grid{
    grid-column: span 2;
}
 .explore-a{
    grid-row-start: 3;
    grid-column-start: 2; 
}
.explore-b{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
}
.explore-c{
    grid-row-start:4;
    grid-column-start: 3;
    grid-row-end: 5;
}
.explore-grid img{
    width: 100%;
}
.img{
    max-width: 100%;
    height: auto;

}