*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "ttnorms1";
    src: url(img/font/TTNorms-Bold.woff2);
}
@font-face{
    font-family: "ttnorms2";
    src: url(img/font/TTNorms-Medium.woff2);
}
@font-face{
    font-family: "ttnorms3";
    src: url(img/font/TTNorms-Regular.woff2);
}
.nav_bar{
    background-image: url(img/header.avif);
    background-size: cover;
    object-fit: fill;
    height: 450px;
    width: 100%;
    background-position: 50% 50%;
    font-family: ttnorms1;
}
.nav_top{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
    transform: translate(1px);
}
.nav_signin{
    color: white;
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: -0.02ch;
    padding-right: 5px;
}
.nav_signup{
    background-color: white;
    border-radius: 24px;
    width: 73px;
    height: 22px;
    text-align: center;
    padding: 9px;
    margin-top: -4px;
    color: #494949;
    margin-right: 5px;
}
.nav_signup h3{
    font-size: 16px;
    margin-top: 1px;
}
.nav_icon{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.nav_doordash_icon{
    display: none;
}
.nav_icon svg{
    width: 56px;
    height: 31.82px;
}
.nav_head{
     display: flex;
     font-size: 32px;
     color: #fff;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: -0.04ch;
     text-align: center;
     max-width: 334px;
     padding: 20px;
     margin-top: -4px;
     transform: translateX(0.5px);
     margin-left: -1px;
}
.nav_search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 8px;
}
.nav_search_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_bar{
    display: flex;
    width: 267px;
    height: 40px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 4px 4px;
    border-radius: 20px;
    box-shadow:1px rgb(214 214 214);
}
.search_location{
    display: none;
}
.search_address{
    color: #717171;
    font-size: 16px;
    font-family: ttnorms2;
    transform: translateX(0.25px);
}
.search_icon{
    margin: 4px 8px 0 1px;
}
.search_arrow{
    margin: 4px 0px 0px 36px;
    transform: translateX(-0.79px);
}
.search_arrow_orange{
    display: none;
}
.nav_signin_saved{
    color: #fff;
    text-align: center;
    display: flex;
     margin: 17px; 
    justify-content: center;
    font-family: ttnorms2;
    letter-spacing: -0.001ch;
}
.nav_signin_saved a{
    color: white;
}
.section_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    font-size: 23px;
    font-family: 'ttnorms1';
    padding: 8px 4px;
    margin-top: 23px;
    letter-spacing: -0.009ch;
    transform: translate(0px, -1px);

}
.section_card_button{
    background-color: #eb1000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 121px;
    height: 39.5px;
    font-size: 24.5px;
    transform: translate(0px, 2px);
}
.section_card_get{
    transform: translate(0.5px, 0.5px);
}
.section_card_button h6{
    transform: translateY(-1.5px);
}
.section_card_get{
    width: 160px;
    line-height: 22px;
}
.section_card_chain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 23px;
    gap: 28px;
    font-family: "ttnorms1";
    letter-spacing: -0.01ch;
    transform: translate(0.5px, 1px);
}
.section_card_section{
    display: flex;
}
.section_card_header{
    transform: translateX(-2.1px);
}
.section_card_svg{
    transform: translate(2.5px, -2px);
}
.content_cards{
    margin: 54px 0 40px 0;
    padding: 0px;
    min-width: 360px;
}
.content_card{
    display: flex;
    padding: 16px;
    transform: translate(4px, 10px);
}
 .content_card_img img{
    width: 88px;
    height: 88px;
} 
.content_card_img{
    width: 258.35px;
    height: 88px;
    margin: 0px 31px 0px 0px;
}
.content_card_img{
    transform: translate(4px, 0px);
}
 .content_card:nth-child(2) div{
    transform: translate(-9px, 10px);

}
.content_card:nth-child(3) div{
    transform: translate(-9px, 10px);
}
.content_card_header{
    font-size:20.5px;
    font-family: 'ttnorms1';
    line-height: 40px;
    color: #191919;
    letter-spacing: -0.01ch;
    transform: translate(0px, 1px);
}
.content_card_details{
    color: #191919;
    font-family: 'ttnorms2';
    font-size: 18px;
    line-height: 24px;
}
.content_card_link a{
    text-decoration: none;
    color:#eb1000;
    font-family: 'ttnorms1';
    font-size: 13px;
}
.content_card_link svg{
    width: 11px;
    height: 16px;
    transform: translate(0px, 4px);
}
.content_card_link{
    margin: 12px 0 0 0;
}
.main_img img{
    width: 100%;
}
.main_img {
    display: flex;
    justify-content: flex-end; 
    
}
.main_image{
    width: 82.9%; 
   max-width: 500px;
}
.main_picture img{
    width: 100%;
}
.main_picture {
    display: flex;
    justify-content: flex-start;
}
.main_pic{
    width: 82.9%;
    max-width: 500px;
}
.main_picture img{
    width: 100%;
}
.main_class h4{
    color: #191919;
    font-size: 24px;
    font-family: 'ttnorms2';
}
.main_class p{
    font-size: 14px;
    font-family: 'ttnorms3'
}
.main_class p{
    color: #191919;
    font-size: 14px;
    font-family: 'ttnorms2';
    line-height: 20px;
    margin-top: 10px;
}
.main_button{
    border-radius: 32px;
    background-color: #eb1000;
    width: 101.5px;
    height: 32px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
.main_buttons{
    border-radius: 32px;
    background-color: #eb1000;
    width: 130.89px;
    height: 32px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.main_class h6{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'ttnorms2';
}
.main_class{
    margin-top: 90px
}
.main_head{
    margin-top: -180px;
}
.main_header{
    margin-top: 244px;
}
.main_content{
    background-color: #fff0ed;
    padding-top: 323px;
    margin-top: -97px;
    width: 100%;
    padding-bottom: 100px;
}
.main_container{
    transform: translateY(194px);
    margin: 20px 0px 0px 0px;
    padding: 0px 56.6px 0px 16px;
    width: 290px;
}
.main_topic{
    margin:20px 0px 0px 0px;
    padding: 0px 66.6px 0px 16px;
    width: 289px;
    margin-top: -210px;
}
footer{
    background-color: #191919;
    color: white;
    padding: 0px 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}
footer h5{
    font-size: 16px;
    font-family: 'ttnorms1'
}
footer p{
    font-family: 'ttnorms2';
    color: #c4c4c4;
    font-size: 14px;
    line-height: 29px;
}
.cities_cuisines{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 32px 0;
    text-align: center;
}
.top_cities_new h5{
    margin-bottom: 10px;
}
.top_cuisines_food h5{
    margin-bottom: 10px;
}
.apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    padding: 32px 0px 0px;
    gap: 10px;
}
.appstore{
    background-color: #4c4c4c;
    border-radius: 8px;
    padding: 0px 8px;
}
.playstore{
    background-color: #4c4c4c;
    border-radius: 8px;
    padding: 0px 8px;
    
}
.details{
    display: grid;

}
.get_to_know{
    padding: 32px 0 0;
    text-align: center;
}
.details h5{
    margin-bottom: 10px;
}
.let_us_help{
    padding: 32px 0 0;
    text-align: center;
}
.business{
    padding: 32px 0 0 ;
    text-align: center;
}
.social_media{
    display: flex;
    justify-content: center;
    padding: 32px 0 0;
    opacity: 0.5;
    gap: 10px;
}
.icon{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding:20px 0 32px 0;
}
.icon p{
    font-size: 12px;
    line-height: 10px;
}

@media screen and (min-width: 425px){
    .nav_top{
        transform: translateX(1px);
    }
    .nav_signin{
        letter-spacing: -0.01ch;
        padding-right: 5px;
    }
     .nav_head{
        line-height: 40px;
        margin-top: -4px;
    } 
    .nav_search{
        padding-top: 11px;
    }
    .search_bar{
        margin-top: -2.5px;
    }
    .search_address{
        transform: translate(0.25px, -1.08px);
    }
    .section_cards{
        transform: translate(0px, 0px);
    }
    .section_card_chain{
        padding: 11px 0;
    }
    .section_card_button{
        transform: translate(0px, 0.75px);
    }
    .section_content_cards{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .content_card_img{
        width: 208.28px;
    }
    .content_cards{
        padding: 8px;
    }
    .content_card{
        transform: translate(4px, 0);
        padding: 16px;
    }
    .content_card_link{
        transform: translate(1px, -1px);
    }
    .content_card_link svg{
        transform: translate(2px, 3px);
    }
 } 
 @media screen and (min-width: 768px){
    .nav_top{
        transform: translateX(1px);
    }
    .search_icon{
        display: none;
    }
    .search_location{
        display: flex;
        margin: 0 2px;
    }
    .search_bar{
        margin-top: -3px;
        width: 400px;
        border-radius: 32px;
        justify-content: flex-start;
    }
    .search_address{
        transform: translate(6px, 0px);
    }
    .search_arrow{
        transform: translateX(143px);
    }
    .nav_signin_saved{
        transform: translateY(0px);
    }
    .section_cards{
        transform: translate(-0.75px, -1px);
        letter-spacing: -0.01ch;
    }
    .section_card_button{
        width: 120px;
        transform: translate(0px, 1.25px);
    }
    .section_card_chain{
        padding: 10px 0;
    }
    .section_card_svg{
        transform: translate(1.5px, -1.5px);
    }
    .content_card_img img{
        width: 124px;
        height: 124px;
    }
    .content_cards{
        width: 486px;
        height: 608px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-7px, 0px);

    }
    .container_card_img{
        transform: translate(0px, 1px);
    }
    .content_card:nth-child(2){
        margin-top: -21px;
        transform: translate(16px, -116px);
    }
    
    .content_card{
        gap: 32px;
        margin-top: 150px;
        margin-left: 10px;
        transform: translate(6px, -122px);
    
    }
     .content_card:nth-child(3){
        margin-top: 10px;
    } 
    .content_card_img{
        transform: translate(-1px, 0);
    }
    .main_container{
        transform: translateY(-300px);
        margin: 0px 0px 96px 64px;
        width: 213.33px;
    }
    .main_image{
       width: 55.55%; 
       max-width: 700px;
       margin-top: 10px;
    }
    .main_content{
        padding-top: 78px;
        margin-top: -330px;
    }
    .main_pic{
        width: 55.5%;
        max-width: 700px;
        margin-top: 10px;
    }
    .main_class{
        margin-top: 40px;
    }
    .main_section{
        max-width: 1183px;
        margin-inline: auto;
    }
    .main_content{
        max-width: 1183px;
        margin-inline: auto;
    }
    .main_background{
        background-color: #fff0ed;
    }
    .main_topic{
        transform: translateY(-353px);
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -54px;
        margin-bottom: 96px;
        padding: 0px;
    }
    .main_head{
        margin: 0;
        width: 24vw;
        max-width: 1183px;
    }
    .main_details{
        width: 24vw;
        max-width: 1183px;
    }
    .main_header{
        width: 24vw;
        transform: translateX(-32px);
        max-width: 1183px;
    }
    .main_detail{
        width: 24vw;
         transform: translateX(-30px); 
         max-width: 1183px;
    }
    .main_buttons{
         transform: translateX(-85px)
    }
    footer{
        margin-top: -360px;
    }
    .top_city{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
        text-align: left;

    }
    .cities_cuisines{
        display: flex;
        flex-direction: column;
    }
    
    .top_cities_new h5{
        margin-top: -30px;
    }
    .top_cuisines{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: left;
        margin-top: 40px;
    }

    .top_cuisines{
        padding: 32px 0px 0px;
    }
    .top_cuisines_food h5{
        margin-top: -30px;
    }
    .details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
    .apps{
        padding: 64px  0px 0px;
    }
    .get_to_know{
        text-align: left;
    }
    .let_us_help{
        text-align: left;
    }
    .business{
        text-align: left;
    }
    .terms{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .social_media{
        margin-top: -22px;
    }
 }
 @media screen and (min-width: 960px){
    .nav_bar{
        height: 580px;
    }
    .nav_doordash{
        display: flex;
        margin-right: -4px;
    }
    .nav_doordash_icon{
        display: flex;
        justify-content: center;
        gap: 9px;
        transform: translateY(19px);
    }
    .nav_icon{
        display: none;
    }
    .nav_symbol{
        transform: translate(-3px, -3px);
    }
    .nav_top{
        margin-top: -28px;
        margin-right: 1px;
    }
    .nav_head{
        max-width: 668px;
        font-size: 64px;
        line-height: 75.5px;
        margin-top: 40px;
    }
    .search_address{
        transform: translate(6px, -1.8px);
    }
    .nav_search{
        padding-top: 16px;
    }
    .nav_signin_saved{
        margin-top: 16px;
    }
    .cities_cuisines{
        display: flex;
        flex-direction: row;
        gap: 5vw;
        padding-top: 10px;
    }
    .top_city{
        gap: 5vw;
    }
    .top_cuisines{
        margin-top: 10px;
        gap: 5vw;
    }
    .apps{
        display: flex;
        justify-content: flex-start;
    }
    .applications{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1184px;
        gap: 10vw;
    }
    .apps{
        display: flex;
        justify-self: flex-start;
    }

 
 }
 @media screen and (min-width: 1184px){
    .search_arrow{
        display: none;
    }
    .search_arrow_orange{
        display: flex;
        background-color: #eb1000;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        transform: translateX(171px);
    }
     .section_content_cards{
        margin-top: 47px;
        margin-left: -51px;
    } 
    .content_cards{
        display: flex;
        flex-direction: row;
        width: 1182px;
        height: 272px;
        justify-content: center;
        align-items: center;
        text-align: center; 
        gap: 44px;
        margin-top: 80px;
    }

    .content_card{
        display: flex;
        flex-direction: column;
        margin: 0 17px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        
    }
    .content_card:nth-child(1){
        transform: translate(-15px, 25px);

    }
     .content_card_img{
        width: 154px;
         transform: translate(23px, -3.5px); 
    }
    .content_card_content{
        margin-top: 30px;
        width: 251px;
    }
    .content_card:nth-child(2){
        transform: translate(50px, 32px); 
    } 
    .content_card:nth-child(3){
        transform: translate(83px,12px);
    } 
    .content_card_link a{
        font-size: 18px;
    }
    .content_card_details{
        margin-top: 7px;
    }
    .content_card_header{
        transform: translate(1px, 1px);
    }
    .content_card_link a{
        font-size: 16px;
    }
    .content_card_img img{
        width: 154px;
        height: 154px;
    }
    
    .main_class{
     margin-left: auto;
     margin-right: auto;
    }
    .main_content{
        padding-top: 134px;
        margin-top: -330px;
        background-color: #fff0ed;
        padding-left: 10px
    }
    .main_class h4{
        font-size: 40px;
    }
    .main_class p{
        font-size: 18px;
    }
    .main_container{
        margin:0px 0px 96px;
    }
    .main_head{
        width: 257px;
    }
    .main_details{
        width: 407px;
    }
    .main_detail{
        width:407.27px;
    }
    .main_header{
        width: 500.27px;
        transform: translateX(58px);
    }
    .main_topic{
        margin: 0px 0px 96px 0;
        transform: translateY(-635px);
    }
    .main_button{
        width: 120.56px;
        height: 40px;
        font-size: 18px;
    }
    .main_buttons{
        width: 154.17px;
        height: 40px;
        margin-right: 140px;
        font-size: 18px;
    }
    .main_content{
        padding-top:100px;
        margin-top: -370px;
        padding-left: 0px
    }
    
    
    .doordash_details{
        margin-right: 18vw;
        margin-left: 10vw;
    }
    .terms{
        margin-right: 18vw;
        margin-left: 10vw;
    }
}
    
 @media screen and (min-width: 1024px){
    .main_container{
        padding-top: 90px;
        margin-top: -80px;
    }
    .main_buttons{
        transform: translateX(-135px);
    }
    .search_address{
        transform: translate(6px, -0.8px);
    }
    .nav_signin_saved{
        margin-top: 17px;
    }
}
    @media screen and (min-width: 1440px){
        .nav_top{
            margin-right: 0px;
        }
        .section_card_button{
            transform: translate(0.5px, 2.25px);
        }
        .section_card_svg{
            transform: translate(1.5px, -2px);
        }
        .content_card_link a{
            font-size: 18px
        }
        .content_card:nth-child(1){
            transform: translate(-15px, 23px);
        }
        .content_card:nth-child(2){
         transform: translate(50px, 30px);
        }
        .content_card:nth-child(3){
            transform: translate(83px, 10px);

        }
        .content_card:nth-child(1) div+div{
            transform: translate(1px, 2px);
            
        }
        .content_card:nth-child(2) div+div{
            transform: translate(-16px, 7px);
        }
        .content_card:nth-child(3) div+div{
            transform: translate(1px, 2px);
            background-color: yellow;
            
        }
    }
 