body{
    background: lightblue;
    text-align: center;
}

.wrapper{
    width: 100px;
    padding: 20px;
    box-sizing: border-box;
}
img{
    /*transform: translate(200px, 200px);*/
    /*transform: scale(3, 0.5);*/
    /*transform: rotateZ(45deg);*/
    transform: rotateZ(-90deg) translateY(200px) scale(2);
}