
body{
    margin: 0 ;
    
    padding: 0;
    color: black;

}
nav li{
    float: right;
    list-style-type: none;
    margin: 30px 25px;
    
}
nav li a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-family: Arial;


}
nav li img{
    width: 19px;
}
.selector{
    
    
    display: flex;
    justify-content: center;
    margin-left: 210px;
    
}
.select {
    display: flex;
    flex-flow: row;
    justify-content: center;
    float: left;
    margin-top: 200px;
    align-items: center;
    }



.select a{
    display: inline-block;
    margin: 20px;
    justify-content: center;
    padding-bottom: 30px;

}
.select h3{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    margin: 0;
}
a:hover{
    
    position: relative;
    color: red;
    cursor: pointer;
}
.select a:hover img{
 transform: translateY(-4px);
 color: red;
 cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
.search {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
form{
    background: #ffcc00;
    width: 900px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    
}
form input{
    flex: 1;
    border: 3px solid #ffcc00;
     border-radius: 10px 0 0 10px;
    /* outline: #ffcc00;  */
    font-family:  Arial, Helvetica, sans-serif ;
    font-size: 15px; 
    border-right: none;
}
form button{
    background: #ffcc00;
    height: 100%;

    font-size: 120%;
    font-family: inherit;
    font-weight: 400;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    
    
}
.head{
    margin: 50px;
    margin-top: -30px;
}
form img{
    width: 15px;
    height: 10px;
    background-color: #fff;

}
.yandex h3{
    margin-top: 16px;  
    font-size: 13px;
}

.yandex p{
    font-size: 15px;
}
.yandex a{
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 12px;
}
.countries{
    display: flex;
    justify-content: center;
    padding: 70px;
    margin-top: 340px;
    gap: 40px;
    margin-left: 20px;
}


  footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    align-items: center;
    font-size: 0.85em;
    width: 100%;
    margin: 0;
}  
    

footer  a{
    color: rgb(151, 147, 147);
    display: flex;
    text-decoration: none;
    margin: 8px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    
}
footer p{
    color: rgb(151, 147, 147);
    font-family: Arial, Helvetica, sans-serif;
}
svg{
    background: #fff;
    height: 34px;
    width: 35px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffcc00;
    border-left: none;
}