
* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Airbnb_Cereal3;
    src: url(font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: "Airbnb_Cereal2";
    src: url("font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Airbnb_Cereal1;
    src: url(font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 500;
    font-style: medium
}


body {
    color: #717171;
    font-family: 'Airbnb_Cereal';
                                                
}

.nav_top {

    display: flex;
    border: 0.5px solid rgb(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 12px 50px 10px 0;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 4.5% 6%;
    box-shadow: 0 2px 5px rgb(0 0 0 /14%);
    width: 72.75%;
    margin-left: 24Px;
    position: fixed;
    background-color: #fff;
    z-index: 2;

}

.nav_search {
    padding: 0 16px 0 20px;
    margin-top: -2.75px;
    margin-left: -0.25px;
}

.nav_header p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    line-height: 20px;
    padding: 5px 3px 0 0;
    margin-top: -8px;
    margin-left: 2.5px;
    width: 50%;
    font-family: Airbnb_Cereal1;
}

.nav_sub {
    display: flex;
    white-space: nowrap;
    color: #717171;
    font-size: 13px;
    position: relative;
    margin-left: 2px;
     gap: 2px;
}

.nav_sub span {
    width: 29.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 20%;
    font-size: 13px;
}

.nav_icon button {
    border-radius: 100%;
    height: 36px;
    width: 36px;
    border: 1px solid rgb(0, 0, 0, 0.08);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

.nav_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_bar {
    display: none;
}
.container_cards{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 20px; 
    padding: 20px 20px 10px;
    margin-top: -19px;
    white-space: nowrap;
    text-align: center;
    margin-left: 4px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
    height: 47.75px;
    position: fixed;
    padding-top: 105px;
    background-color: #fff;
    z-index: 1;

}
.container_cards::-webkit-scrollbar{
    display: none;
}

.container_cards-v1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    height: 44px;
}
.container_cards-v1:nth-child(1){
    min-width: 34.14px;
    
}
.container_cards-v1:nth-child(2){
    min-width: 64px;
    margin-left: -4px;
} 
.container_cards-v1:nth-child(3){
    min-width: 45.37px;
    margin-left: 5px;
}  
.container_cards-v1:nth-child(4){
   min-width: 64px;
   margin-left: 6px;
}
.container_cards-v1:nth-child(5){
    min-width: 64px;
    margin-left: -4px;
 }
 .container_cards-v1:nth-child(6){
    min-width: 83.66px;
 }
 .container_cards-v1:nth-child(7){
    min-width: 64.17px;
 }
 .container_cards-v1:nth-child(8){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(9){
    min-width: 84.61px;
 }
 .container_cards-v1:nth-child(10){
    min-width: 80.86px;
 }
 .container_cards-v1:nth-child(11){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(12){
    min-width: 95.67px;
 }
 .container_cards-v1:nth-child(13){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(14){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(15){
    min-width: 69.72px;
 }
 .container_cards-v1:nth-child(16){
    min-width: 65.23px;
 }
 .container_cards-v1:nth-child(17){
    min-width: 77.86px;
 }
 .container_cards-v1:nth-child(18){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(19){
    min-width: 64px;
 }
 .container_cards-v1:nth-child(20){
    min-width: 64px;
 }

.container_cards-v1 img{
    height: 24px;
    width: 24px;
    opacity: 0.5;
}
.container_cards-v1 h6{
    font-size: 12px;
    font-family: Airbnb_Cereal2;
}
.container_cards-v1:hover {
    color: #000;
    border-bottom: 2px solid #000;
}
 .container_cards-v1 img:hover{
    opacity: 1;
    
} 
.container_cards-v2{
    display: none;
}
.main_card_a{
    display: flex;
}

.main_card_img img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.main_card_a{
    position: relative;
}
.main_cards{
    padding: 0 24px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
}
.main_card{
    padding-top: 23px;
}
.main_card_img{
    width: 85vw;
    height: 81vw;


}
.main_card_wishlist{
    position: absolute;
    right: 16.5px;
    top: 15px

}
.main_card_c{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}
.main_card_rating{
    display: flex;
    gap: 1px;
}
.main_card_rating svg{
    margin-top: 3px;
}
.main_card_location p{
color: #222222;
font-size: 14px;
font-weight: 500;
font-family: Airbnb_Cereal1;
letter-spacing: 0.05ch;
}
.main_card_rating p{
    color:#222222;
}
.main_card_place{
    font-size: 16px;
    margin-top: 4px;
    letter-spacing: 0.01ch;
}
.main_card_date{
    font-family: Airbnb_Cereal2;
    margin-top:2px;
    font-size: 16px;
}
.main_card_price{
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 36px;
}
.main_card_price h6{
    color: #222222;
    font-size: 16px;
}
.main_card_price p{
    color: #222222;
    font-size: 18px;
}
.main_card:nth-child(1){
    padding-top: 168px;
}
.footer_section_a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px 0 0 0;
}
.footer_section_a p{
    font-size: 18px;
    color: #222222;
    font-family: Airbnb_Cereal1
}
.footer_section_a button{
    width: 132px;
    height: 46px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #222222;
    font-family: Airbnb_cereal3;
    font-size: 16px;
    margin: 24px 0 80px;
}


@media screen and (min-width:375px) {
    .nav_top {
        width: 73.25%;
        margin-top: 14px;
    }

    .nav_sub span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 40%;
    }

    .nav_icon {
        margin-left: 46px;
    }
    .nav_sub{
        gap: 0;
    }
    .container_cards{
        margin-top:-21px;
    }
}



@media screen and (min-width: 425px) {
    .nav_top {
        width: 76.5%
    }

    .nav_icon {
        margin-left: 29.5%;
    }
    .main_card_img{
        height: 84.25vw;
        width: 89vw;
    }
}


@media screen and (min-width: 550px){
    .main_cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 21px;
        grid-row-gap: 7px;
    }
    .main_card_img{
        width: 43.5vw;
        height: 41.25vw;
    }
    .main_card:nth-child(2){
        padding-top: 172px;
    }
    .main_card_price{
        padding-bottom: 30px;
    }
    .main_card:nth-child(1){
        padding-top: 172px;
    }
    .main_card_c{
        justify-content: space-between;
        gap: 75px;
    }
    .main_card{
        padding-top: 0;
    }

}






@media screen and (min-width: 744px) {
    .nav_top {
        display: none;
    }
    .nav_top_icon_a{
        display: none;
    }

    .nav_bar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(0, 0, 0, 0.08);
        position: fixed;
        background-color: #ffffff;
        z-index: 3;
        width: 100%;
    }

    .nav_top_icon {
        padding: 24px 40px;
    }
    .nav_logo{
        display: flex;
    }
    

    .nav_top_search_icon {
        background-color: #ff385c;
        border: 1px solid #ff385c;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 22px;
        margin-right: 3px;
        gap: 28px;

    }

    .nav_top_search {
        display: flex;
        border: 1px solid rgb(0, 0, 0, 0.08);
        border-radius: 60px;
        box-shadow: 0 2px 3px rgb(0 0 0 /14%);
        width: 332px;
        height: 40px;
        align-items: center;
        justify-content: center;
        padding: 3px;
        margin-left: -16px;
        margin-top: 16px;

    }

    .nav_top_sub1{
        border-right: 1px solid rgb(0, 0, 0, 0.08);
        padding: 10px;
        color: #222222;
        font-weight: 500;
        margin-left: -20px;


    }
    .nav_top_sub {
        display: flex;
        font-size: 14px;
        color: #222222;
        font-family: Airbnb_Cereal1;
        margin-left: 30.65px;
        
    }

    .nav_top_sub2 {
        border-right: 1px solid rgb(0, 0, 0, 0.08);
        padding: 10px;
        color: #222222;
        font-weight: 500;
        padding-left: 21px;
    }

    .nav_top_sub3 {
        color: #717171;
        font-family: Airbnb_Cereal2;
        font-size: 16px;
        margin-top: 10px;
        padding-left: 19px;
    }
    .nav_top_host_menu{
        display: flex;
        justify-content: space-evenly;
        margin-top: 24px;
        gap: 20px;
        margin-right: 0;
    }
    .nav_top_host{
        display: flex;
        gap: 20px;
        margin-top: 8px;
    
    }
    .nav_top_host_h{
        font-family: Airbnb_Cereal2;
        font-size: 19px;
        color: #222222;
        font-weight: 300;
        white-space: nowrap;
        margin-right: -4.5px;
        height: 18px;
        width: 97.3px;
        margin-top: -1.5px
    }

    .nav_top_menu{
        display: flex;
        border: 1px solid rgb(0, 0, 0, 0.08);
        border-radius: 50px;
        width: 75px;
        height: 40px;
        margin-right: 40.5px;
        margin-top: -5px;
        justify-content: flex-end;
    }
    .nav_hamburger{
        padding: 12px;
        margin-left: 0;
    }
    .nav_user{
        margin-top: 2.5px;
        margin-left: 0;
        margin-right: 4px;
    }
    


}
@media screen and (min-width: 768px){
    .nav_top_search{
        width: 344px;
    }
    .nav_top_search_icon{
        margin-right: 4px;
    }
    .nav_top_host{
        padding-left:48px;
    }
    .nav_top_host_icon{
        padding-left: 8px;
    }
    .container_cards{
        border-bottom: 1px solid #fff;
        gap: 32px;
        margin-top: 15px;
        padding: 20px;
        margin-left: 19.5px;
        padding-top: 101px;
        position: fixed;
        background-color: #fff;
    }
    .container_cards-v1{
        height: 48px;
    }
    .container_cards-v1:nth-child(3){
        margin-left: 2px;
    }
    .container_cards-v1:nth-child(4){
        margin-left: 4px;
    }
    .container_cards-v1:nth-child(5){
        margin-left: -4px;
    }
    .container_cards-v1:nth-child(6){
        margin-left: -4px;
    }
    .container_cards-v1:nth-child(9){
        margin-left: -2px;
    }
    .container_cards-v1:nth-child(3){
        margin-left: 1px;
    }
    .container_cards-v2{
        display: flex;
        gap: 20px;
        position: fixed;
        right: 0;
        background-color: #fff;
        border: 1px solid #fff;
        width: 180px;
        height: 50px;
        
    }
    .container_cards-v3 {
        display: flex;
        border: 1px solid rgb(0 0 0 /17%);
        border-radius: 50px;
        width: 26px;
        height: 26px;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-left: 2px;
        
    }
    .container_cards-v4{
        display: flex;
        gap: 4px;
        border: 1px solid rgb(0, 0, 0, 0.08);
        border-radius: 12px;
        width: 88.5px;
        height: 46px;
        align-items: center;
        justify-content: center;
        color: #222222;
        margin-top: -2px;
        font-size: 18px;
    }
    .container_cards-v4 h6{
        margin-left: 5px;
    }
    .main_card:nth-child(1){
        padding-top: 217px;
    }
    .main_card:nth-child(2){
        padding-top: 217px;
    }
    .main_card_c{
        width: 95%;
    }
     .main_cards{
        padding-left: 40px;
        grid-column-gap: 5px;

    }
    .main_card_img{
        width: 43.25vw;
        height: 41.1vw;
    }
    .main_card_wishlist{
        right: 33.5px;
        top: 16px;
    }
    
}


@media screen and (min-width: 950px){
   .nav_logo{
        display: flex;
        justify-content: space-between;
        width: 70%;
        } 
    .nav_top_host-h{
        white-space: nowrap;
    }
    .main_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8px;
    }
    .main_card_img{
        width: 28.85vw;
        height: 27.4vw;
    }
    .main_card:nth-child(3){
        padding-top: 217px;
    }
}
@media screen and (min-width: 1024px){
    .nav_logo{
        width: 67.15%;
    }
    .main_card_img{
        width: 29.167vw;
        height: 27.8vw;
    }
    

}
@media screen and (min-width: 1128px){
.nav_top_icon{
    display: none;
}
.nav_top_icon_a{
    display: flex;
    padding: 24px 40px;
}
.main_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
}
.main_card_img{
    width: 21.632vw;
    height: 20.55vw;
}
.main_card:nth-child(1){
    padding-top: 202px;
}
.main_card:nth-child(2){
    padding-top: 202px;
}
.main_card:nth-child(3){
    padding-top: 202px;
}

.main_card:nth-child(4){
    padding-top: 202px;
}

.main_card_wishlist{
    right: 32.5px;
    top: 15px;
}
.main_card_c{
    width: 92%;

}
}
@media screen and (min-width:1440px){
    .nav_bar{
        padding-left: 2.75%;
    }
    .nav_top_host_menu{
        padding-right: 5.5%;
    }
    .nav_top_search{
        margin-right: 50.5px;
    }
    
    .nav_logo{
        width: 63%;
    }
    .container_cards{
        padding-left: 4.2%;
    }
    .container_cards-v2{
        padding-right: 2.75%;
    }
    .main_cards{
        margin-left: 2.75%;
        margin-right: 3.65%;
        grid-column-gap: 20px;
    }
    .main_card_img{
        width: 20.973vw;
        height: 19.993vw;
    }
    .main_card_location p{
        font-size: 15px;
    }
    .main_card_c{
        width: 97%;
        padding-top: 11px;
    }
    .main_card_wishlist{
        right: 19.5px;
    }

}
@media screen and (min-width:1640px){
    .nav_bar{
        padding-left: 2.45%;
    }
    .nav_top_host_menu{
        padding-right: 4.85%;
    }
    .nav_top_search{
        margin-right: 77.5px;
    }
    .container_cards{
        padding-left: 3.7%;
    }
    .container_cards-v2{
        padding-right: 2.4%;
    }
    .main_cards{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        padding-left: 2.1%;
        padding-right: 1%;

    }
    .main_card_img{
        width: 16.88vw;
        height: 16.033vw;
    }
    .main_card:nth-child(5){
        padding-top: 202px;
    }
    .main_card_c{
        width: 98%;
    }
    
}