<!DOCTYPE html>
<html>
    <head>
        <title>layout</title>
        <link rel="stylesheet " href="style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <header class="main-header">
            <div class="container-grid">
            <h1>NAVBAR</h1>
            <nav class="main-nav">
                <ul class="unstyled-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            </div>
        </header>
    </body>
</html> 