* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "instacart1";
    src: url(assets/font/eina-bold-df33d802f345a9037eb82e0c80e76547.woff2);
}

@font-face {
    font-family: "instacart2";
    src: url(assets/font/eina-regular-962b94746f466cf38b0dcc93ebf0703e.woff2);
}

@font-face {
    font-family: "instacart3";
    src: url(assets/font/eina-semibold-3c45702adeba381bbd0bc600c987febd.woff2);
}

body {
    color: #343538;
}

.nav_bar {
    display: flex;
    background-color: #c10d67;
    color: #fff;
    gap: 10px;
}

.nav_adv {
    display: flex;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 4px;
    margin: 1px -2px 0px;

}

.nav_adv_logo {
    margin: 6px 0px 4px 8px;
}

.nav_adv h5 {
    font-family: 'instacart1';
    font-size: 12px;
}

.nav_adv p {
    font-family: 'instacart2';
    font-size: 12px;
}

.nav_header {
    display: flex;
    padding: 16px;
    margin-top: 3px;
    justify-content: space-between;
}

.nav_logo img {
    width: 100%;
    height: 100%;
}

.nav_logo {
    width: 107px;
    height: 24px;
    transform: translate(-7px, -2px);
}

.nav_log {
    display: flex;
    transform: translateX(0px);
}

.nav_top {
    display: flex;
}

.nav_hamburger {
    padding: 0px 2px;
}

.nav_signup {
    color: #fff;
    font-family: 'instacart2';
    font-size: 22px;
    border-radius: 32px;
    background-color: #0aad0a;
    text-align: center;
    width: 86.38px;
    height: 38px;
    transform: translate(4px, -7px);
}

.nav_signup h6 {
    transform: translate(0px, 9px);
}

.nav_login {
    transform: translate(-13px, 2px);
    font-family: 'instacart3';
    font-size: 15px;
    color: #343538;
}

.section_head {
    font-size: 16px;
    background-color: #deedd6;
    padding: 15px 10px;
    margin-top: -11px;
}

.section_head h1 {
    width: 256px;
    margin: 10px;
    font-family: 'instacart1';
    transform: translate(-4px, -8px);
    line-height: 40px;
    letter-spacing: -0.03ch
}

.section_button {
    display: none;
}


.section_sub {
    display: none;
}
.section_card{
    display: flex;
}
.section_card_header{
    display: flex;
    font-size: 23px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 23px;
    padding: 16px 32px;
    line-height: 32px;
    font-family: 'instacart2';

}
.section_card_header p:nth-child(2){
    color: #0aad0a;
}
.section_card_img img{
    width: 100%;
    border: 1px solid #d0d1d3;
    border-radius: 50px;
}
.section_card_img{
    width: 58px;
    height: 60px;
}
.section_card{
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    flex-basis:100
}
.section_card_class{
    margin-top: 8px;
}
.section_card_head{
    padding: 8px 14px 0px;
}
.section_card_arrow{
    margin-left: auto;
    margin-top: 17px;
}

.section_card_head p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'instacart3';
}
.section_card_head span{
    font-size: 12px;
    font-family: 'instacart3';
    line-height: 18px;
}
.section_card_showmore{
    font-size: 18px;
    font-family: 'instacart3';
    line-height: 26px;
    font-weight: 600;
    color: #0aad0a;
    margin-top: 36px;
    text-align: center;
}
.section_card_counton{
    font-size: 23px;
    font-family: 'instacart2';
    padding: 0px 24px 32px;
    text-align: center;
    line-height: 32px;
    margin-top: 30px;
}

.content_card_img img{
    width: 100%;
    height: 100%;
}
.content_cards{ 
    display: flex;
    overflow: scroll;
}
.content_card_head{
    font-size: 26px;
    line-height: 32px;
    font-family: 'instacart3';
}
.content_card{
    background-color: #f6f7f8;
    border-radius: 8px;
    padding: 0px;
    margin-right: 8px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 8px;
}
.content_card_detail{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400px;
    max-width: 235px;
    font-family: 'instacart2';
    margin: 15px 0px;
}
.content_card_section{
    padding: 32px;
}
@media screen and (min-width: 375px) {
    .nav_logo {
        width: 149px;
    }
    .section_scanner{
        display: flex;
        background-color: #b1e5d4;
        height: 100px;
        width: 100%;
        max-width: 1152px;
        border-radius: 8px;
        box-shadow: 0px 0px 16px rgb 

    }
    .section_scanner_head{
        font-size: 23px;
        font-family: 'instacart3';
        line-height: 28px;
    }
}


@media screen and (min-width: 425px) {
    .nav_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -2px 0px;
    }
}

@media screen and (min-width: 768px) {
    .nav_bar {
        margin: 1px -2px 0px;
    }

    .nav_adv h5 {
        font-size: 18px;
        font-family: 'instacart3';
    }

    .nav_adv p {
        font-size: 18px;
    }

    .nav_bar {
        padding: 6px;
        margin: -2px -2px 0px;
    }

    .nav_adv_logo img {
        width: 100%;
    }

    .nav_adv_logo {
        width: 36px;
        height: 36px;
        transform: translateX(-9.75px);
    }

    .nav_adv {
        transform: translateX(-10.25px);
    }

    .nav_logo {
        transform: translate(-16px, 0px);
        padding: 10px 0px;
        margin-right: auto;
    }

    .nav_hamburger {
        padding: 12px 24px;
    }

    .nav_login {
        transform: translate(-54px, 11px);
        font-size: 18px;
    }

    .nav_header {
        margin-top: 0px;
    }

    .nav_log {
        transform: translate(3px, 0px);
    }

    .nav_signup {
        width: 98.23px;
        height: 42px;
        font-size: 26px;
        transform: translate(-26.5px, 3px);
    }

    .section_button {
        display: flex;
        background-color: #fff;
        padding: 10px 12px;
        width: 47px;
        height: 25px;
        border-radius: 9px;
        transform: translate(31px, 24px);
    }

    .section_country {
        height: 20px;
        width: 21px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        transform: translate(1px, 1px);
    }

    .section_arrow {
        background-color: #efefef;
        padding: 6px;
        height: 6px;
        width: 6px;
        transform: translate(8px, 3px);
        display: flex;
        align-content: center;
    }

    .section_country svg {
        height: 39.5px;
        width: 35px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: -12px;

    }

    .section_sub {
        display: flex;
    }

    .section_head {
        background-image: url(assets/img/bg1.webp);
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        max-height: 184px;
        background-position: right center;
        background-size: contain;
        padding: 18px 10px;
        margin-top: -6px;
    }

    .section_header h1 {
        width: 577px;
        font-size: 39px;
        padding-left: 30px;
        line-height: 52px;
        margin-top: -17px;
        transform: translate(93.5px, -5.5px);
        letter-spacing: 0.05ch;
        font-family: 'instacart2';
    }

    .section_sub {
        display: flex;
        margin-left: 134px;
        font-family: 'instacart2';
        font-size: 14.5px;
        letter-spacing: 0.025ch;
        transform: translate(0.25px, 1px);
    }
    .section_card_header{
        gap: 8.5px;
        font-size: 31px;
    }
    .section_cards{
        margin-top: 235px;
    }
    .section_card_arrow{
        display: none;
    }
    .section_card{
        box-shadow:0px 2px 8px rgb(0 0 0 /16%);
        border-radius: 12px;
        cursor: pointer;
        padding: 12px;
        margin: 24px 32px;
    }
    .section_card_class{
        transform: translateY(-4px);
    }
    .section_card_showmore{
        font-size: 18px;
    }
    .section_card_counton{
        font-size: 28px;
    }

}

@media screen and (min-width: 1024px) {
    .nav_log {
        transform: translate(2.5px);
    }

    .section_head {
        max-height: 184px;
        background-size: initial;
    }
    .section_card_class{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        grid-column-gap: 48.5px;
        width: 91.5%;
        margin: auto;
        padding: 8px 0 0 0 ;
        justify-items: center;
        transform: translateY(12px);
    }
    .section_card{
        margin: 0;
        width: 100%;
    }
    .content_cards{
        padding: 32px;
        min-height: 160px;
    }
    .content_card{
        min-width: 304px;
    }
    .content_card_head{
        font-size: 28px;
    }
    .content_card_detail{
        margin: 48px 0px 0px 0px;
        font-size: 18px;
    }



}    

@media screen and (min-width: 1440px) {
    .nav_bar {
        transform: translate(-1px, 0px);
    }

    .nav_logo {
        transform: translate(-17px, 0px);
    }

    .nav_log {
        transform: translate(-4px, 0px);
    }

    .nav_hamburger {
        transform: translate(-0.5px, 0px);
    }

    .section_container {
        transform: translate(34px, 0px);
        max-width: 1500px;
        margin-left: auto;
    }

     .section_header{
        width: 568px;
        font-size: 37px;
    } 
}

@media screen and (min-width: 1800px) {
    .nav_log {
        transform: translateX(-12px);
    }

    .nav_bar {
        transform: translate(1px, 0);
    }
    .section_container{
        max-width: 1645px;
        transform: translate(31px, 1px);
    }
}
@media screen and (min-width: 1144px){
    .section_card_class{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 48.5px;
        width: 92.25%;
        max-width: 1144px;
        margin-inline: auto;
    }
}