* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "instacart1";
    src: url(assets/font/eina-bold-df33d802f345a9037eb82e0c80e76547.woff2);
}


@font-face {
    font-family: "instacart2";
    src: url(assets/font/eina-regular-962b94746f466cf38b0dcc93ebf0703e.woff2);
}

@font-face {
    font-family: "instacart3";
    src: url(assets/font/eina-semibold-3c45702adeba381bbd0bc600c987febd.woff2);
}

body {
    color: #343538;
}

.nav_bar {
    display: flex;
    background-color: #c10d67;
    color: #fff;
    gap: 10px;
}

.nav_adv {
    display: flex;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 4px;
    margin: 1px -2px 0px;

}

.nav_adv_logo {
    margin: 6px 0px 4px 8px;
}

.nav_adv h5 {
    font-family: 'instacart1';
    font-size: 12px;
}

.nav_adv p {
    font-family: 'instacart2';
    font-size: 12px;
}

.nav_header {
    display: flex;
    padding: 16px;
    margin-top: 3px;
    justify-content: space-between;
}

.nav_logo img {
    width: 100%;
    height: 100%;
}

.nav_logo {
    width: 107px;
    height: 24px;
    transform: translate(-7px, -2px);
}

.nav_log {
    display: flex;
    transform: translateX(0px);
}

.nav_top {
    display: flex;
}

.nav_hamburger {
    padding: 0px 2px;
}

.nav_signup {
    color: #fff;
    font-family: 'instacart3';
    font-size: 15px;
    border-radius: 32px;
    background-color: #0aad0a;
    text-align: center;
    width: 86.38px;
    height: 38px;
    transform: translate(4px, -7px);
}

.nav_signup p {
    transform: translate(0px, 9px);
}

.nav_login {
    transform: translate(-13px, 2px);
    font-family: 'instacart3';
    font-size: 15px;
    color: #343538;
}

.section_head {
    font-size: 16px;
    background-color: #deedd6;
    padding: 15px 10px;
    margin-top: -11px;
}

.section_header p {
    width: 256px;
    margin: 10px;
    font-family: 'instacart1';
    transform: translate(-4px, -8px);
    line-height: 40px;
    font-size: 31px;
    
}

.section_button {
    display: none;
}


.section_sub {
    display: none;
}
.section_card{
    display: flex;
}
.section_card_header{
    display: flex;
    font-size: 23px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 23px;
    padding: 16px 32px;
    line-height: 32px;
    font-family: 'instacart2';

}
.section_card_header p:nth-child(2){
    color: #0aad0a;
}
.section_card_header:hover:nth-child(2){
    text-decoration: underline;
}
.section_card_img img{
    width: 58px;
    height: 58px;
    border: 1px solid #d0d1d3;
    border-radius: 50px;
}
.section_card{
    padding: 12px 16px 7px;
    display: flex;
    flex-direction: row;
}
.section_card_head p{
    transform: translateY(-1px);
}
.section_cards{
    padding: 0px;
}
.section_card_class{
    margin-top: 8px;
}
.section_card_head span p{
    color: #343538;
    font-size: 12px;
}
.section_card_head{
    padding: 9px 12px 0px;
}
.section_card_arrow{
    margin-left: auto;
    margin-top: 17px;
}

.section_card_head p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'instacart3';
}
.section_card_head span{
    font-size: 12px;
    line-height: 10px;
    font-family: 'instacart3';
}
.section_card_showall{
    font-size: 18px;
    font-family: 'instacart3';
    line-height: 26px;
    font-weight: 600;
    color: #0aad0a;
    margin-top: 36px;
    text-align: center;
}
.section_card_counton{
    font-size: 23px;
    font-family: 'instacart2';
    padding: 0px 24px 32px;
    text-align: center;
    line-height: 32px;
    margin-top: 30px;
}
.section_scanner{
    display: flex;
    background-color: #b1e5d4;
    max-width: 1152px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgb(0 0 0 /14%); 
}
.section_scanner_img img{
    height: 100px;
    width: 100%;
}
.section_scanner_head{
    font-size: 23px;
    font-family: 'instacart3';
    color: #000;
    width: 190px;
    padding: 0px 0px 0px 30px;
    transform: translateY(-30px);
}
.section_scanner_detail{
    font-size: 15px;
    font-family: 'instacart2';
    padding-left: 30px;
    transform: translateY(-30px);
    width: 190px;
}
.section_hand_img{
    display: none;
}
.content_card_img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content_cards{ 
    display: flex;
    overflow: scroll;
}
.content_card_head{
    font-size: 28px;
    line-height: 32px;
    font-family: 'instacart3';
}
.content_card{
    background-color: #f6f7f8;
    border-radius: 8px;
    padding: 0px;
    margin-right: 8px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 8px;
}
.content_card_detail{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400px;
    max-width: 235px;
    font-family: 'instacart2';
    margin: 15px 0px;
}
.content_card_section{
    padding: 32px;
}
.content_card_shopping{
    color: #fff;
    background-color: #0aad0a;
    border-radius: 12px;
    height: 56px;
    margin-top: 43px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    cursor:pointer;
    margin-bottom: 32px;
}
.content_card_shop{
    display: flex;
    justify-content: center;
}
.content_card_shopping p{
    font-size: 18px;
    font-family: 'instacart3';
    line-height: 26px;
   
}
.content_card_content{
    display: flex;
    flex-direction: column;
    
}
.container_section{
    padding: 32px;
}
.container_section_head{
    font-size: 23px;
    font-family: 'instacart2';
    line-height: 32px;
    text-align: center;
    max-width: 450px;
    padding: 0px 0px 32px;
}
.container_section_img img{
    width: 100%;
    margin: 0px 0px 4px;
    border-radius: 9px;
}
.container_card_head{
    font-size: 28px;
    font-family: 'instacart3';
    padding: 1px 6px;
    line-height: 32px;
}
.container_card{
    background-color: #f6f7f8;
    margin: 8px 0px;
    border-radius: 12px;
    padding: 32px;
}

.container_section_image{
    display: none;
}
.container_card_detail{
    display: none;
}
.section_questions{
    padding: 32px 32px 60px;
    font-family: 'instacart2';
    border-bottom: 1px solid #ded9d9;
}
.section_question_head{
    margin-bottom: 32px;
    text-align: center;
    font-size: 23px;
}
.common_questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    color: #424242;
    gap: 21px;
    border-bottom: 1px solid #ded9d9;
}
.common_question{ 
    font-size: 24px;
    line-height:  36px;
}
footer{
    padding: 0px 16px;
}
.products{
    display: none;
}
.delivery_section{
    display: flex;
    justify-content: center;
}
.delivery_detail{
    padding: 0px 21px 40px;
}

.delivery_logo img{
    width: 33px;
    height: 33px;
}
.delivery_head{
    padding: 20px 0px 13px 6px;
    line-height: 26px
}
.delivery_logo{
    padding: 26px 0px 20px;
}

.details p{
    font-size: 18px;
    font-family: 'instacart3';
}
.android{
    display: flex;
}
.ios{
    display: flex;
}
.ios_logo img{
    width: 15px;
    height: 15px;
}
.ios_logo{
    margin:0px 13px 0px 0px;
    transform: translateY(2px);
}
.mobile{
    display: flex;
    justify-content: center;
}
.android_logo img{
    width: 15px;
    height: 15px;
}
.android_logo{
    margin:0px 13px 0px 0px;
    transform: translateY(2px);
}

.ios{
    padding: 8px 25px 7px 0px;
}
.android{
    padding: 8px 25px 7px 0px;
}
.shopper p{
    font-size: 18px;
    font-family: 'instacart3';
}
.shopper_details{
    padding: 0px 24px 40px;
}
.shopper_section{
    display: flex;
    justify-content: center;
    
}
.departments{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ded9d9;
    height: 86px;
   
}
.departments:nth-child(4){
    border-bottom: none;
}
.details{
    border-bottom: 1px solid #ded9d9;
}
.shopper{
    border-bottom: 1px solid #ded9d9;
}
.shopper_head{
    padding: 26px 0px 13px 6px;
}
.shopper_logo{
    padding: 26px  0px  20px;
}
.mobile p{
    font-size: 15px;
}
.department_details{
    padding: 0px 20px;
    margin: 0px 0px 40px;
}
.department{
    padding: 20px 0px 13px;
    transform: translateY(7px);
}
.more_details{
    margin: 25px 0px;
    transform: translateY(7px);
}
.content_access_head{
    font-family: 'instacart3';
    font-size: 18px;
    padding: 12px 0px;
    transform: translateY(-11px);
}
.content_access{
    padding: 20px;
    border-bottom: 1px solid #ded9d9;
    line-height: 22px;
    transform: translateY(4px);
}
.content_access_detail{
    font-family: 'instacart2';
    font-size: 15px;
    margin: 0px 12px 0px 0px;
}
.content_access_button p{
    background-color: #fff;
    font-size: 16px;
    color: rgb(202, 196, 196);
    font-family: 'instacart3';
    border-radius: 100px;
    width: 24px;
    height: 22px;
    text-align: center;
    transform: translateX(4px);
}
.content_access_button{
    display: flex;
    align-items: center;
    background-color: rgb(202, 196, 196);
    height: 32px;
    width: 58px;
    border-radius: 32px;
    margin: 6px 0px 3px 1px;
    
}
.content_access_section{
    display: flex;
    justify-content: space-between;
}
.legal{
    font-size: 18px;
    font-family: 'instacart3';
    padding: 20px 0px 0px;
    transform: translateY(-5px);
}
.terms{
    display: flex;
    font-size: 15px;
    font-family: 'instacart3';
    transform: translateY(-1px);
}

.terms p{
    padding: 20px 20px 0px 0px;
}
.social_medias svg{
    width: 35px;
    height: 35px;
    padding: 20px 10px 20px 0px;
}
.apple_logo{
    font-size: 12px;
    font-family: 'instacart2';
    color: #72767e;
    margin: 0px 0px 40px;
    padding: 0px 0px 0px 6px;
    line-height: 18px;
}
.terms_and_social{
    padding: 0px 20px;
}

@media screen and (min-width: 375px) {
    .nav_logo {
        width: 149px;
    }
    .section_scanner{
        display: flex;
        justify-content: space-between;
    }
    .section_scanner_scan{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section_scanner_img img{
        width: 100px;
        border-radius: 8px;
    }
    .section_scanner_head{
        font-size: 23px;
        font-family: 'instacart3';
        color: #000;
        line-height: 28px;
        width: 100%;
        transform: translateY(0);
    }
    .section_scanner_detail{
        font-size: 15px;
        font-family: 'instacart2';
        line-height: 22px;
        transform: translateY(0px);
        width: 100%;
    }
    
    .common_questions{
        gap: 44px;
    }
    .content_access_button{
        transform: translateY(-4px);
}
}


@media screen and (min-width: 425px) {
    .nav_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -2px 0px;
    }
    .common_questions{
        gap: 55px;
    }
}

@media screen and (min-width: 768px) {
    .nav_bar {
        margin: 1px -2px 0px;
    }

    .nav_adv h5 {
        font-size: 18px;
        font-family: 'instacart3';
    }

    .nav_adv p {
        font-size: 18px;
    }

    .nav_bar {
        padding: 6px;
        margin: -2px -2px 0px;
    }

    .nav_adv_logo img {
        width: 100%;
    }

    .nav_adv_logo {
        width: 36px;
        height: 36px;
        transform: translateX(-9.75px);
    }

    .nav_adv {
        transform: translateX(-10.25px);
    }

    .nav_logo {
        transform: translate(-16px, 0px);
        padding: 10px 0px;
        margin-right: auto;
    }

    .nav_hamburger {
        padding: 12px 24px;
    }

    .nav_login {
        transform: translate(-54px, 11px);
        font-size: 18px;
    }

    .nav_header {
        margin-top: 0px;
    }

    .nav_log {
        transform: translate(3px, 0px);
    }

    .nav_signup {
        width: 98.23px;
        height: 42px;
        font-size: 18px;
        transform: translate(-26.5px, 3px);
    }
    .nav_signup p{
        transform: translate(0px, 8px);
    }

    .section_button {
        display: flex;
        background-color: #fff;
        padding: 10px 12px;
        width: 47px;
        height: 25px;
        border-radius: 9px;
        transform: translate(29px, 23px);
        border: 1px solid #ded9d9;
    }

    .section_country {
        height: 20px;
        width: 21px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        transform: translate(1px, 1px);
        filter: grayscale(0.5);
    }

    .section_arrow {
        background-color: #efefef;
        padding: 6px;
        height: 6px;
        width: 6px;
        transform: translate(8px, 3px);
        display: flex;
        align-content: center;
    }

    .section_country svg {
        height: 39.5px;
        width: 35px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: -12px;

    }

    .section_sub {
        display: flex;
    }

    .section_head {
        background-image: url(assets/img/bg1.webp);
        background-repeat: no-repeat;
    
        height: 100%;
        max-height: 184px;
        background-position: right center;
        background-size: contain;
        padding: 29.5px 10px;
        margin-top: -6px;
    }

    .section_header p {
        width: 577px;
        font-size: 41px;
        padding-left: 30px;
        line-height: 52px;
        margin-top: -19px;
        transform: translate(93.5px, -6.5px);
        font-family: 'instacart3';
    }

    .section_sub {
        display: flex;
        margin-left: 134px;
        font-family: 'instacart2';
        font-size: 14.5px;
        letter-spacing: 0.025ch;
        transform: translate(0.25px, 1px);
    }
    .section_card_header{
        gap: 8.5px;
        font-size: 31px;
        margin-top: 20px;
    }
    .section_card_arrow{
        display: none;
    }
    .section_container{
        transform: translate(0.75px, -12px);
    }
    .section_card{
        box-shadow:0px 2px 8px rgb(0 0 0 /16%);
        border-radius: 12px;
        cursor: pointer;
        padding: 12px;
        margin: 24px 32px;
        height: 60px;
    }
    .section_card_class{
        transform: translateY(-4px);
    }
    .section_card_showall{
        font-size: 18px;
        margin: 60px 0px 30px;
    }
    .section_card_counton{
        font-size: 28px;
    }
    .section_hand_img{
        display: flex;
    }
    .section_scanner_img{
        margin: 0px 0px 0px 40px;
    }
    .section_scanner{
        margin-inline: auto;
        max-width: 1150px;
    }
    
    .container_section_img{
        display: none;
    }
    .container_section_image{
        display: flex;
    }
    .container_section_image img{
        width: 100%;
        margin: 0px 0px 6px;
        border-radius: 12px;
        max-width: 1080px;
        margin-inline: auto;
    }
    .container_section_head{
        font-size: 28px;
        margin-inline: auto;
        padding: 0px 0px 32px;
    }
    .section_question_head{
        font-size: 31px;
    }
    .common_question{
        font-size: 28px;
        line-height: 36px;
        height: 72px;
        display: flex;
        align-items: center;
    }
    .common_questions{
        padding: 24px 0px;
        gap: 161px;
    }
    .section_questions{
        padding: 32px 32px 100px;
    }
    .details{
        display: flex;
        justify-content: space-between;
    }
    .shopper{
        display: flex;
        justify-content: space-between;
    }
    .departments{
        gap: 110px;
    }
    footer{
        padding: 0px 39px;
    }
    .shopper:nth-child(2) .departments{
        gap: 100px;
    }
    .content_access{
        display: flex;
        padding: 20px 80px 48px 40px;
    }
    .content_access_section{
        padding: 10px 0px 0px;
    }
    .content_access_head{
        width: 40%;
    }
    .legal_terms{
        display: flex;
        justify-content: space-around;
    }
    .social_medias svg{
        width: 20px;
        height: 20px
    }
    .apple_logo{
        padding: 0px 0px 39px;
    }
    

}

@media screen and (min-width: 1024px) {
    .nav_log {
        transform: translate(2.5px);
    }

    .section_head {
        max-height: 184px;
        background-size: initial;
    }
    .section_card_class{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        grid-column-gap: 48.5px;
        width: 91.5%;
        margin: auto;
        padding: 8px 0 0 0 ;
        justify-items: center;
        transform: translateY(12px);
    }
    .section_card{
        margin: 0;
        width: 100%;
    }
    .content_cards{
        padding: 32px;
        min-height: 160px;
        gap: 16px;
        margin-inline: auto;
        max-width: 1160px;
    }
    .content_card{
        min-width: 304px;
    }
    .content_card_head{
        font-size: 28px;
    }
    .content_card_detail{
        margin: 48px 0px 0px 0px;
        font-size: 18px;
    }
    .content_card:nth-child(1) .content_card_img{
        transform: translatey(23px);
    }
     .content_card:nth-child(2) .content_card_detail{
        transform: translateY(32px);
    } 
    .content_card_img{
        transform: translateY(2px);
    }
    .container_card_detail{
        display: flex;
        font-size: 19px;
        font-family: 'instacart2';
    }
    .common_questions{
        gap: 234px;
    }
    .section_questions{
        margin-inline: auto;
        max-width: 1024px;
    } 
    .products{
        display: flex;
        margin: 0px;
    }
    .products li:hover{
        text-decoration: underline;
    }
    .details{
        gap: 0px;
    }
    
    .products li{
        list-style-type: none;
        padding: 7px 0px;
        font-size: 15px;
        font-family: 'instacart2'
    }
    .departments{
        display: flex;
        flex-direction: column;
        gap: 0px;
        border-bottom: none;
        justify-content: flex-start;
    }
    .department_details{
        display: flex;
        gap: 9px;
    }
    .department{
        white-space: nowrap;
        padding: 20px 0px 13px;
    }
    .shopper:nth-child(2) .departments{
        gap: 0px;
    }
    .terms_and_privacy{
        display: flex;
        gap: 170px;
    }
    .legal_terms{
        justify-content: space-between;
    }
    footer{
        margin-inline: auto;
        max-width: 1224px;
    }
} 
@media screen and (min-width: 1280px){
    .container_cards{
        display: flex;
        flex-direction: row;
        gap: 6px;
        justify-content: center;
        max-width: 1280px;
        margin-inline: auto;
    }
    .container_card{
        width: 202px;
    }
    .container_card_detail{
        font-size: 23px;
    }
    .container_card_head{
        font-size: 32px;
    }
}   

@media screen and (min-width: 1440px) {
    .nav_bar {
        transform: translate(-1px, 0px);
    }

    .section_container {
        transform: translate(36px, -12px);
        max-width: 1500px;
        margin-left: auto;
    }
    .section_card{
        width: 320px;
    }
     .section_header{
        width: 568px;
        font-size: 31px;
        font-family: 'instacart3';
    } 
    .content_card:nth-child(2) .content_card_img img{
        transform: translateY(32px);
    }
}

@media screen and (min-width: 1800px) {
    .nav_log {
        transform: translateX(-12px);
    }

    .nav_bar {
        transform: translate(1px, 0);
    }
    .section_container{
        max-width: 1945px;
        transform: translate(31px, 1px);
    }
}
@media screen and (min-width: 1144px){
    .section_card_class{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1445px;
        grid-column-gap: 0px;
        margin-inline: auto;
        width: 78.85%;
    }
    .section_cards{
        padding: 0px 20px;
    }
    .section_card{
        width: 320px;
    }
    .section_card_head p{
        transform: translateY(-1px);
    }
}