
* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'yelp1';
    src: url(assets/font/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2);
}

@font-face {
    font-family: 'yelp2';
    src: url(assets/font/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2);
}

@font-face {
    font-family: 'yelp3';
    src: url(assets/font/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2);
}

@font-face {
    font-family: 'yelp4';
    src: url(assets/font/poppins-bold.yji-9690ce6275ddc5645cfa.woff2);
}

@font-face {
    font-family: 'yelp5';
    src: url(assets/font/poppins-medium.yji-dc16a3592fdb61b620cc.woff2);
}

.header {
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-duration: 10s;
    animation-name: slidein;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: initial; 
}

@keyframes slidein {
    0% {
        opacity: 0.6;
        background-image: url(assets/img/bg.jpg);
    }

    33% {
        opacity: 1;
        background-image: url(assets/img/bg.jpg);
    }

    34% {
        opacity: 0.6;
        background-image: url(assets/img/bg2.jpg);
    }

    68% {
        opacity: 1;
        background-image: url(assets/img/bg2.jpg);
    }

    69% {
        opacity: 0.6;
        background-image: url(assets/img/bg3.jpg);
    }

    100% {

        opacity: 1;
        background-image: url(assets/img/bg3.jpg);
    }

}


.nav_top {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 0px;
    gap: 32px;
}

.nav_search_bar {

    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 48px;
    width: 100%;
    gap: 0px;
    border-radius: 4px;


}
.nav_search_details{
    max-width: 1245px;
    margin-left: auto;
}

.search_button {
    background-color: #e00707;
}

.nav_button {

    display: flex;
    font-family: 'yelp5';
    font-size: 16px;
}


.nav_details {

    display: flex;
    margin: 0px 0px 0px 16px;
    font-size: 14px;
    font-family: 'yelp3';
    white-space: nowrap;
}


.nav_logo {
    padding: 4px 0px 0px;
}

.nav_search_bar p {

    font-size: 16px;
    font-family: 'yelp2';
    color: #817878;
    padding: 0px 16px;

    width: 21.47vw;
    height: 22px;

}

.search_tacos {
    display: flex;
    align-items: center;
}

.search_item {
    border-right: 2px solid #e3e3e3;
    height: 23px
}

.search_place p {
    color: #000;
    padding: 13px 16px;
     width: 21.613vw;
    
}

.search_button {
    border-radius: 0 3px 3px 0;
    height: 25px;
    max-width: 56px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
}


.search_button svg {
    height: 24px;
    width: 24px;
}

.nav_business {
    padding: 12px 16px;
}

.nav_review {
    padding: 12px 16px;
}

.nav_login p {
    padding: 8px 16px;
}

.nav_login {
    border: 2px solid rgba(200, 201, 202, 1);
    border-radius: 4px;
    height: 36px;
    display: flex;
    align-items: center;
    transform: translate(7px, 2.75px);
}


.nav_signup {
    background-color: #e00707;
    border-radius: 4px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 0px 20px;
    padding: 8px 15px;


}

.nav_bar {
    display: flex;
    transform: translate(-2px, 1px);
    max-width: 1144px;
    margin-inline: auto;
}

.nav_services {
    display: flex;
    font-size: 14px;
    font-family: 'yelp2';
    padding: 16px 18px 20px;
}

.nav_bar svg {
    transform: translate(4px, -3px);
}

.nav_section_hvac {
    width: 10px;
    height: 0;
    position: relative;
    animation: scroll 10s infinite;
    animation-delay: 0s;
    border-radius: 5px;
}

.nav_scroll_hvac,
.nav_scroll_cleaner,
.nav_scroll_sweep {
    width: 10px;
    height: 90px;
    margin-bottom: 10px;
    background-color: #817878;
    border-radius: 5px;
}

.nav_section_cleaner {
    width: 10px;
    height: 0;
    position: relative;
    animation: scroll 10s infinite;
    animation-delay: 3s;
    border-radius: 5px;
    margin-bottom: 10px;
}


.nav_section_sweep {
    width: 10px;
    height: 0;
    position: relative;
    animation: scroll 10s infinite;
    animation-delay: 7s;
    border-radius: 5px;
}

.nav_section_scroll {
    padding: 0px 40px;
}

@keyframes scroll {

    33%,
    66.66%,
    100% {
        top: 0;
        background-color: #fff;
        height: 88px;
    }
}


.animation {
    display: flex;
    justify-content: flex-start;
    padding: 62px 7px 100px;
    margin: 0px 108px;
    max-width: 1211px;
    margin-inline: auto;
}


.nav_animation h1 {
    font-size: 48px;
    font-family: 'yelp5';
    width: 480px;
    line-height: 56px;
}
.nav_animation{
    transform: translate(-10px,11px);
}

.nav_animation p {
    background-color: #e00707;
    font-size: 16px;
    font-family: 'yelp5';
    padding: 12px 32px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.animation_hvac p {
    width: 141px;
}


.animation_hvac {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.picture_name a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'yelp1';
    color: #FFF;
}
.picture_name{
    margin: 0 108px;
    padding: 0px 40px 49px;
    transform: translate(8px, -16px);
    max-width: 1144px;
    margin-inline: auto;
}
.picture_name p{
    font-family: 'yelp2';
    font-size: 14px;
}
.section_content{
    padding: 57px 0px;
}
.section_head{
    font-size: 28px;
    line-height: 36px;
    font-family: 'yelp4';
    text-align: center;
    letter-spacing: -0.4px;
    color: #2d2e2f;
}
.section_reviewer{
    display: flex;
    gap: 8px;
}
.section_reviewer img{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    transform: translateY(2px);
}
.section_card a{
    text-decoration: none;
    color: #027a97;
}
.section_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    grid-row-gap: 10px;
    margin: 0 108px;
    padding: 0 40px;
    color:#2d2e2f;
     max-width: 1144px;
    margin-inline: auto; 
    
}
.section_card{
    padding: 16px 24px;
    margin: 48px 0px 0px;
    border: 1px solid #ebebeb;
    width: 309.96px;
    height: 342px;
    
}
.section_reviewer_name a{
    color: #2d2e2f;
    font-size: 16px;
    font-family: 'yelp1';
    line-height: 24px;
}

.section_reviewer_name p{
    font-size: 14px;
    font-family: 'yelp2';
}
.section_card_name a{
    font-size: 14px;
    font-family: 'yelp1';
}
.section_card_name{
    padding: 18px 0px 16px;
}
.section_img{
    display: flex;
    gap: 12px;
    justify-content: space-around;
}
.section_img_one img{
    width: 155px;
    height: 168px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.section_img_one {
display: flex;
flex-direction: column;
border: 1px solid #ebebeb;
border-radius: 4px;
height: 210px;
}

.section_img_two img{
    width: 155px;
    height: 168px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.section_img_two{
   display: flex;
   flex-direction: column;
   border: 1px solid #ebebeb;
   border-radius: 4px;
   height: 210px;
}
.section_img svg{
    padding: 9px 8px 6px;
    width: 24px;
    height: 24px;
}
.section_more{
    font-size: 14px;
    font-family: 'yelp3';
    line-height: 20px;
    transform: translate(-8px, 14px);
}
.section_img_three img{
    width: 357.98px;
    height: 200px;
    object-fit: cover;
    margin-top: -8px;
}
.section_img_three svg{
    padding: 16px 20px;
}
.section_img_four img{
    width: 357.98px;
    height: 112.02px;
    object-fit: cover;
    margin-top: 18px;
}
.section_card:nth-child(3) .section_card_name{
    margin-top: -7px;
}
.section_card:nth-child(3) .section_img_four img{
    height: 112.02px;
}
.section_card_rating{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.section_card_detail{
    font-size: 14px;
    font-family: 'yelp2';
    line-height: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid #ebebeb;
}
.section_emojis{
    display: flex;
    gap: 24px;
}
.section_emojis svg{
    padding: 1px 8px;
}
.section_card:nth-child(4){
    margin-top: 22px;
}
.section_card:nth-child(4) .section_img{
    margin-top: -8px;
}
.section_card:nth-child(5){
    margin-top: 22px;
}
.section_card:nth-child(5) .section_card_name{
    margin-top: -7px;
}
.section_img_four img{
    height: 92.02px;
}

.section_card_detail a{
    font-family: 'yelp3';
}
.section_card:nth-child(6){
    margin-top: 22px;
}
.section_card:nth-child(6) .section_card_name{
    margin-top: -7px;
}
.section_card:nth-child(7){
    margin-top: 22px;
}
.section_card:nth-child(8){
    margin-top: 22px;
}
.section_card:nth-child(9){
    margin-top: 22px;
}
.section_card:nth-child(9) .section_card_name{
    margin-top: -7px;
}
.section_card:nth-child(10){
    margin-top: 22px;
}
.section_card:nth-child(10) .section_card_name{
    margin-top: -7px;
}
.section_card:nth-child(11){
    margin-top: 22px;
}
.section_card:nth-child(11) .section_card_name{
    margin-top: -7px;
}
.section_card:nth-child(12){
    margin-top: 22px;
}
.section_card:nth-child(12) .section_card_name{
    margin-top: -7px;
}
.more_activity a{
    text-decoration: none;
    color:#027a97;
    font-size: 14px;
    font-family:'yelp3';
}
.more_activity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0px 104px;
    text-align: center;
    gap: 8px;
    border-bottom: 1px solid #ebebeb;
}
.categories{
    padding: 45px 40px;
    margin: 0px 108px;
    color:#2d2e2f;
     max-width: 1144px;
    margin-inline: auto; 
}
.category_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.category_head{
    font-size: 28px;
    font-family: 'yelp4';
    text-align: center;
}
.category_head p{
    letter-spacing: -0.4px;
    
}
.category_card{
    padding: 48px 0px;
    border: 1px solid #ebebeb;
    width: 254px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.category_img{
    margin: 0px 0px 16px;
}
.category_container{
    margin: 37px 0px 0px;
}
.category_section{
    font-size: 16px;
    font-family: 'yelp3';
}
.category_section p{
    line-height: 24px;
}
footer{
    background-color: #f7f7f7;
    color: #2d2e2f;
    margin-top: -54px;
}
.footer_section{
    padding: 60px 40px 43px;
    margin: 0px 108px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    max-width: 1144px;
    margin-inline: auto;
}
.section_about p{
    font-size: 16px;
    font-family: 'yelp1';
    line-height: 24px;
    margin: 0px 0px 16px;
}
.section_about li{
    color: #6e7072;
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'yelp2';
    list-style-type: none;
}
.section_about li:hover{
    text-decoration: underline;
}
.section_languages li, .section_countries li{
    display: flex;
    align-items: center;
    transform: translateY(-8px);
    gap: 4px;
}
.section_copyright svg:nth-child(1){
    width: 38px;
    height: 19px;
    margin-top: 1px;
    transform: translateY(4px);
}
.section_copyright svg:nth-child(2){
    width: 14px;
    height: 16px;
    padding-right: 1px;
    transform: translateY(2px);
}
.section_copyright{
    margin: 0px 108px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color:#6e7072;
    font-family: 'yelp2';
    padding: 0px 40px 60px;
     max-width: 1144px;
    margin-inline: auto; 
} 
@media screen and (min-width: 1750px){
    .nav_search_details{
        margin-inline: auto;
    }
    .nav_logo {
        width: 250px;
    }
}



